<div class="wrapper bg-image" style="background-image: url(./img/coin-bg.jpg);">
	<div class="coin">
		<div class="coin__inner inner">
			<div class="coin__select-block">
				<h3 class="coin__title title-md">
					Select currency to exhange:
				</h3>
				<div class="coin__select select">
					<select class="js-select" name="choice" id="cash_convertation" style="width: 100%;">
						<option value="USD" checked>USD</option>
						<option value="EUR">EUR</option>
						<option value="RUB">RUB</option>
						<option value="GBR">GBR</option>
					</select>
				</div>
			</div>
			<div class="coin__row">
				<div class="coin__col">
					<div class="card card--green">
						<div class="card__wrap"  style="background-image: url(./img/ethereum.png);">
							<h4 class="card__title title-m">
								Ethereum
							</h4>
							<ul class="price-list">
								<li class="price-list__item title-s">
									<span class="price-list__title">
										Price:
									</span>
									<span class="price-list__title js-valid">
										$22 526.92
									</span>
								</li>
								<li class="price-list__item">
									<span class="price-list__input-title">
										Percent change
									</span>
									<label class="toggler">
										<input type="checkbox" name="check-price-etherum">
										<span class="toggler__custom"></span>
									</label>
								</li>
								<li class="price-list__item">
									<span class="price-list__col">
										Hour change
									</span>
									<span class="price-list__col price-list__col--mod">
										+226%
									</span>
								</li>
								<li class="price-list__item">
									<span class="price-list__col">
										Day change
									</span>
									<span class="price-list__col price-list__col--mod">
										+226%
									</span>
								</li>
								<li class="price-list__item">
									<span class="price-list__col">
										Week change
									</span>
									<span class="price-list__col price-list__col--mod">
										+226%
									</span>
								</li>
								<li class="price-list__item">
									<span class="price-list__col">
										Month change
									</span>
									<span class="price-list__col price-list__col--mod">
										+226%
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="coin__col">
					<div class="card card--brown">
						<div class="card__wrap" style="background-image: url(./img/Litecoin.png);">
							<h4 class="card__title title-m">
								Litecoin
							</h4>
							<ul class="price-list">
								<li class="price-list__item title-s">
									<span class="price-list__title">
										Price:
									</span>
									<span class="price-list__title js-valid">
										$22 526.92
									</span>
								</li>
								<li class="price-list__item">
									<span class="price-list__input-title">
										Percent change
									</span>
									<label class="toggler">
										<input type="checkbox" name="check-price-litecoin">
										<span class="toggler__custom"></span>
									</label>
								</li>
								<li class="price-list__item">
									<span class="price-list__col">
										Hour change
									</span>
									<span class="price-list__col price-list__col--mod">
										+226%
									</span>
								</li>
								<li class="price-list__item">
									<span class="price-list__col">
										Day change
									</span>
									<span class="price-list__col price-list__col--mod">
										+226%
									</span>
								</li>
								<li class="price-list__item">
									<span class="price-list__col">
										Week change
									</span>
									<span class="price-list__col price-list__col--mod">
										+226%
									</span>
								</li>
								<li class="price-list__item">
									<span class="price-list__col">
										Month change
									</span>
									<span class="price-list__col price-list__col--mod">
										+226%
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="coin__col">
					<div class="card card--yellow">
						<div class="card__wrap" style="background-image: url(./img/bitcoin1.png);">
							<h4 class="card__title title-m">
								Bitcoin
							</h4>
							<ul class="price-list">
								<li class="price-list__item title-s">
									<span class="price-list__title">
										Price:
									</span>
									<span class="price-list__title js-valid">
										$22 526.92
									</span>
								</li>
								<li class="price-list__item">
									<span class="price-list__input-title">
										Percent change
									</span>
									<label class="toggler">
										<input type="checkbox" name="check-price-bitcoin" checked>
										<span class="toggler__custom"></span>
									</label>
								</li>
								<li class="price-list__item">
									<span class="price-list__col">
										Hour change
									</span>
									<span class="price-list__col price-list__col--mod">
										+26%
									</span>
								</li>
								<li class="price-list__item">
									<span class="price-list__col">
										Day change
									</span>
									<span class="price-list__col price-list__col--mod red">
										-20%
									</span>
								</li>
								<li class="price-list__item">
									<span class="price-list__col">
										Week change
									</span>
									<span class="price-list__col price-list__col--mod">
										+26%
									</span>
								</li>
								<li class="price-list__item">
									<span class="price-list__col">
										Month change
									</span>
									<span class="price-list__col price-list__col--mod">
										+26%
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>