.icon-account {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arms {
  width: 1.15em;
  height: 1em;
  fill: initial;
}
.icon-arrow-up {
  width: 1.73em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-basket {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-present {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
