<form action="/" class="form js-form">
    <div class="form__row">
        <input class="form__input" type="text" name="eame" required placeholder="Имя">
    </div>
    <div class="form__row">
        <input class="form__input" type="tel" name="phone" required placeholder="Телефон">
    </div>
    <div class="form__row">
        <input class="form__input" type="email" name="email" required placeholder="E-mail">
    </div>
    <div class="form__row">
        <button class="btn" type="submit">
            колоронироваться
        </button>
    </div>
</form>