<div class="hero">
    <h1 class="hero__title title-lg">
        <span>#КОЛОРОнируйся</span> - стань частью
        семьи успешных клиентов KOLORO
    </h1>
    <div class="hero__description">
        <p>
            Брендинговое агентство KOLORO – создаем, позиционируем и продаем бренды.
            Индивидуальный подход к каждому проекту и восьмилетний опыт на рынке научили нас делать быстро, качественно и
            креативно!
            
            Хотите создать королевский бренд?
            Тогда скорее заполняйте форму!
        </p>
    </div>
    <h4 class="hero__title-form title-s">
        Хотите создать королевский бренд?
        Тогда скорее заполняйте форму!
    </h4>
    {% include "partials/_form.html" %}
</div>