<div class="wrapper">
    <div class="gradient js-gradient">
        <div class="gradient__img gradient__img--first js-move-object">
        </div>
        <div class="gradient__inner inner">
            <div class="gradient__img gradient__img--second">
            </div>
            <div class="gradient__wrap">
                <!-- Start header -->
                {% include "partials/_header.html" %}
                <!-- End header -->
                <!-- Start hero -->
                {% include "partials/_hero.html" %}
                <!-- End hero -->
            </div>
        </div>
    </div>
</div>
