<section id="hero" class="hero" style="background-image: url(./img/hero-bg1.jpg)">
    <div class="hero__wrap">
        <div class="container">
            <div class="row">
                <div class="col-hs-12">
                    <div class="hero-cont">
                        <h1 class="hero-cont__title title-lg">
                            SOC <span>AND</span> SIEM <span>SERVICES</span>
                        </h1>
                        <div class="hero-cont__descript">
                            <p>
                                Fundamental transformation of support,
                                confidence, operations and reliability of
                                cyber security products. The platform to
                                increase effectiveness of your security team
                            </p>
                        </div>
                        <div class="hero-cont__hr"></div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <ul class="hero-list">
                                    <li class="hero-list__item">
                                        For Mission Critical SOC & SIEM
                                    </li>
                                    <li class="hero-list__item">
                                        Expertise fused with Automation
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <ul class="hero-list">
                                    <li class="hero-list__item">
                                        Extension of Your Team, 5x8 and 24x7
                                    </li>
                                    <li class="hero-list__item">
                                        Backed by Your Local Partner
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
