<nav id="menu" class="nav">
    <div class="nav__wrap">
        <div class="nav__toggle">
            <button id="toggleMenu" class="toggle is-open toggleMenu">
                <span class="toggle__line"></span>
            </button>
        </div>
        <div class="nav__wrap-inside">
            <div class="nav__header">
                <a href="#" class="logo">
                    {{ mixins.icon('logo') }}
                </a>
                <a id="close" href="#" class="close-btn closed">
                    Close
                </a>
            </div>
            <ul class="nav-list">
                <li class="nav-list__item js-submenuParent">
                    <a href="#" class="nav-list__link js-submenuBtn">
                        Products
                    </a>
                    <div class="submenu js-submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    ATT&CK Audit
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    Threat Hunting as a Service
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    ArcSight Training
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    Co-managed ArcSight
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-list__item js-submenuParent">
                    <a href="#" class="nav-list__link js-submenuBtn">
                        Solutions
                    </a>
                    <div class="submenu js-submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    ATT&CK Audit
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    Threat Hunting as a Service
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    ArcSight Training
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    Co-managed ArcSight
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-list__item js-submenuParent">
                    <a href="#" class="nav-list__link js-submenuBtn">
                        Services
                    </a>
                    <div class="submenu js-submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    ATT&CK Audit
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    Threat Hunting as a Service
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    ArcSight Training
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    Co-managed ArcSight
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-list__item js-submenuParent">
                    <a href="#" class="nav-list__link js-submenuBtn">
                        Ecosystem
                    </a>
                    <div class="submenu js-submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    ATT&CK Audit
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    Threat Hunting as a Service
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    ArcSight Training
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    Co-managed ArcSight
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-list__item js-submenuParent">
                    <a href="#" class="nav-list__link js-submenuBtn">
                        Company
                    </a>
                    <div class="submenu js-submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    ATT&CK Audit
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    Threat Hunting as a Service
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    ArcSight Training
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    Co-managed ArcSight
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-list__item js-submenuParent">
                    <a href="#" class="nav-list__link js-submenuBtn">
                        Resources
                    </a>
                    <div class="submenu js-submenu">
                        <ul class="submenu__list">
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    ATT&CK Audit
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    Threat Hunting as a Service
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    ArcSight Training
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                    Co-managed ArcSight
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="btn-block btn-block--mod">
                <a href="./img/cv_stas_umanskiy_frontend-en.pdf" download="cv_stas_umanskiy_frontend-en.pdf" class="btn-block__btn-pdf btn btn--pdf">
                    Download datasheet
                    {{ mixins.icon('pdf') }}
                </a>
                <div class="btn-block__btn">
                    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalNavigation">
                        Get Demo
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>
