<section class="posts">
    <div class="posts-inside">
        <div class="posts-inside__img">{{ mixins.icon('logo') }}</div>
        <div class="posts-inside__circle posts-inside__circle--small"></div>
        <div class="posts-inside__circle posts-inside__circle--big"></div>
        <div id="scene" class="post">
            <div class="post__wrap" data-depth="0.2">
                <div class="post__wrap-inside">
                    <div class="post__row">
                        <div class="post__col post__col--left">
                            <div class="post__avatar" style="background-image: url(./img/avatar.jpg)"></div>
                        </div>
                        <div class="post__col post__col--right">
                            <h3 class="post__title title-m">
                                Antonio Salvares
                            </h3>
                            <div class="post__descript">
                                CEO of himself. Main person in the office.
                                Don't mess with him
                            </div>
                        </div>
                    </div>
                    <div class="post__text">
                        <p>
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem Ipsum
                            is that it has a more-or-less normal distribution of letters,
                            as opposed to using
                        </p>
                    </div>
                </div>
                <div id="quoteSmall" class="post__img-quote">
                    <img data-depth="0.1" src="./img/quote.svg" alt="Quote">
                </div>
                <div id="quoteBig" class="post__img-quote-big">
                    <img data-depth="0.1" src="./img/quote.svg" alt="Quote">
                </div>
            </div>
        </div>
    </div>
</section>
