<div class="wrapper">
    <!-- Start news -->
    <div class="news inner">
        <div class="news__wrap">
            <h2 class="news__title title-md">Latest News</h2>
            <div class="news__row js-start-animation">
                <div class="news__col js-box">
                    <div class="card card--left js-line-box">
                        <div class="card__row">
                            <div class="card__col">
                                <div class="card__img bg-image" style="background-image: url(./img/smart-watch.jpg);"></div>
                            </div>
                            <div class="card__col card__col--mod">
                                <h2 class="card__title title-m">smart watches</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                    sed do eiusmod tempor incididunt.
                                </p>
                                <a href="#" class="card__btn btn-card">
                                    <span></span>
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news__col js-box">
                    <div class="card card--right js-line-box">
                        <div class="card__row">
                            <div class="card__col">
                                <div class="card__img bg-image" style="background-image: url(./img/design-news.jpg);"></div>
                            </div>
                            <div class="card__col card__col--mod">
                                <h2 class="card__title title-m">POPULAR DESIGN NEWS</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                    sed do eiusmod tempor incididunt.
                                </p>
                                <a href="#" class="card__btn btn-card">
                                    <span></span>
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news__row js-start-animation">
                <div class="news__col js-box">
                    <div class="card card--left js-line-box">
                        <div class="card__row">
                            <div class="card__col card__col--mod">
                                <h2 class="card__title title-m">20 best new websites</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                    sed do eiusmod tempor incididunt.
                                </p>
                                <a href="#" class="card__btn btn-card">
                                    <span></span>
                                    Weiterlesen
                                </a>
                            </div>
                            <div class="card__col">
                                <div class="card__img bg-image" style="background-image: url(./img/best-websites.jpg);"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news__col js-box">
                    <div class="card card--right js-line-box">
                        <div class="card__row">
                            <div class="card__col card__col--mod">
                                <h2 class="card__title title-m">wat’s new</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                    sed do eiusmod tempor incididunt.
                                </p>
                                <a href="#" class="card__btn btn-card">
                                    <span></span>
                                    Weiterlesen
                                </a>
                            </div>
                            <div class="card__col">
                                <div class="card__img bg-image" style="background-image: url(./img/wats-new.jpg);"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End news -->
</div>