<!-- Start slider -->
<div class="slider">
    <div class="slider__wrap js-init-slider">
        <div class="slider__slide" style="background-image: url(./img/slider/slider-bg.jpg);">
            <div class="slider__text inner-s">
                <h2 class="slider__title title-md">
                    Workspace
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                    do eiusmod tempor incididunt ut labore et dolore magna. 
                </p>
            </div>
        </div>
        <div class="slider__slide" style="background-image: url(./img/slider/slider-bg.jpg);">
            <div class="slider__text inner-s">
                <h2 class="slider__title title-md">
                    Workspace
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    do eiusmod tempor incididunt ut labore et dolore magna. 
                </p>
            </div>
        </div>
        <div class="slider__slide" style="background-image: url(./img/slider/slider-bg.jpg);">
            <div class="slider__text inner-s">
                <h2 class="slider__title title-md">
                    Workspace
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    do eiusmod tempor incididunt ut labore et dolore magna. 
                </p>
            </div>
        </div>
    </div>
</div>
<!-- End slider -->