.icon-checkbox-pen-outline {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-clock-circular-outline {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-comment {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-delete {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-male-user-shadow {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-reply-rew {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-reply {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: initial;
}
