h2 {
	margin-bottom: 20px;
	color: #222222;
	text-transform: uppercase;
	font-size: 40px;
	font-family: 'MontserratBold', sans-serif;
}

h3 {
	margin-bottom: 18px;
	color: #222222;
	font-size: 20px;
	font-family: 'MontserratBold', sans-serif;
}

p {
	font-family: 'RobotoSlabRegular', sans-serif;
} 

.wrapper {
	margin: 0 auto;
	width: 950px;
}

.about {
	color: #777777;
	font-size: 16px;
	font-family: 'DroidSerifItalic', sans-serif;
}

.block__list__item {
	padding: 110px 0 90px;
	text-align: center;
}

/*===============Header ===================*/

.header-bg {
	height: 700px;
	background: url("../img/Background_Img.jpg") no-repeat center top;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: darken;
}

.nav-logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 43px;
}

.navigation ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.navigation li a {
	margin-left: 43px;
	font-size: 14px;
	color: #fff;
	font-family: 'MontserratRegular', sans-serif;
	text-transform: uppercase;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.navigation li a:hover {
	color: #fed136;
}

.titles {
	padding-top: 190px;
	text-align: center;	
}

.titles h1 {
	font-family: 'DroidSerifItalic', sans-serif;
	margin-bottom: 35px;
	color: #fff;
	font-size: 40px;
}

.titles span {
	font-family: 'MontserratBold', sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 75px;
	text-transform: uppercase;
}

.button {
	display: block;
	padding: 20px 0;
	margin: 60px auto 0;
	width: 240px;
	border-radius: 3px;
	background-color: #fed136;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 22px;
	font-family: 'MontserratBold', sans-serif;
	font-weight: bold;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.button:hover {
	color: #222222;
}

/* ==============Services==========*/

.services__title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 70px 0 110px;
}

.services__item {
	padding: 90px 10px 0;
	text-align: center;
}

.services__item p {
	color: #777777;
	font-size: 16px;
	line-height: 25px;
}

.commerce {
	background: url("../img/icons/icon1.png") no-repeat center top;
}

.responsive {
	background: url("../img/icons/icon2.png") no-repeat center top;
}

.security {
	background: url("../img/icons/icon3.png") no-repeat center top;
}

/*==============Portfolio=============*/

.portfolio-bg{
	background: #f7f7f7;
}

.portfolio {
	padding: 0  0 110px;
}

.portfolio__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.portfolio__list__item img{
	opacity: 0.8;
}

.portfolio__list__item img:hover {
	opacity: 1;
}

.footer__portfolio {
	background: #fff;
	text-align: center;
	padding: 20px 10px;
}

.footer__portfolio h3 {
	margin: 5px;
}

.footer__portfolio span {
	font-family: 'DroidSerifItalic', sans-serif;
	color: #777777;
	font-size: 14px;
}

/*===============About us==============*/

.about-us {
	margin-bottom: 110px;
}

.about-us__left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;

}

.about-us__left .about-us__foto {
	width: 184px;
	padding-left: 50px;
}

.about-us__left .about-us__text {
	text-align: right;
	width: 35%;
}

.about-us__foto img,
.your-story img {
	margin: 0 auto;
	display: inline-block;
	width: 170px;
	height: 170px;
	border: 7px solid #f1f1f1;
	border-radius: 50%;
	background-size: cover;
}

.about-us__foto:after {
	content: '';
	display: block;
	width: 3px;
	height: 100px;
	margin: 0 auto;
	background: #f1f1f1;
}

.about-us__right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.about-us__right .about-us__foto {
	width: 184px;
	padding-right: 50px;
}

.about-us__right .about-us__text {
	text-align: left;
	width: 35%;	
}

.about-us__text h3 {
	margin-bottom: 10px;
}

.about-us__text span {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Roboto-Black', sans-serif;
}

.about-us__text p {
	margin-top: 15px;
	color: #777777;
	font-size: 16px;
	line-height: 20px;
}

.your-story {
	width: 184px;
	margin: 0 auto;
}

/*================Amazing team =================*/

.amazing-bg{
	background: #f7f7f7;
}

.amazing__list {
	padding-bottom: 110px; 
}

.amazing__title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.amazing__title__list {
	text-align: center;
}

.amazing__title__list {
	width: 33%;
}

.block__item__img img {
	width: 200px;
	height: 200px;
	border: 2px solid #f7f7f7;
	border-radius: 50%;
	background: #111111;
	background-size: cover;
}

.amazing__list__item h3 {
	margin: 20px 0 7px;
}

.amazing__list__item .about {
	font-size: 14px;
	font-family: 'RobotoSlabRegular', sans-serif;
}

.amazing__social__icon {
	padding-top: 15px;
}

.amazing__social__icon a img:hover {
	opacity: 0.6;
}

.amazing__list__footer {
	margin: 50px auto 0;
	width: 70%;
	font-size: 18px;
	text-align: center;
	color: #777777;
}

.footer__partners__logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 50px 0;
}

.footer__partners__logo a {
	width: 200px;
	height: 65px;
	border: 2px solid #fff;
	border-radius: 4px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.footer__partners__logo a img {
	display: block;
	margin: 13px auto 0;
}

.footer__partners__logo a:hover {
	width: 200px;
	height: 65px;
	border: 2px solid #8a8a8a;
	border-radius: 4px;
}

.amazing__list__footer span {
	font-family: 'RobotoSlabRegular', sans-serif;
	font-size: 16px;
}

/*===========Footer ===========*/

.footer-bg {
	background: #222222 url("../img/map-bg.png") no-repeat bottom right;
}

.footer__title {
	padding-bottom: 110px;
}

.footer__title h2 {
	color: #fff;
}

.contact__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.contact__list .contact__list__item,
.contact__list .message__list__item {
	width: 48%;
}

.contact__list input,
.contact__list textarea {
	width: 100%;
	margin-bottom: 34px;
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	resize: none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.contact__list__item input {
	height: 50px;
	padding: 10px 20px;
	border: 1px solid #ccc;
	font-size: 16px;
}

.message__list__item textarea {
	height: 218px;
	padding: 15px 20px;
	font-size: 16px;
}

::-webkit-input-placeholder {
	text-transform: uppercase;
	font-size: 12px; 
	font-weight: bold;
	line-height: 14px;
	font-family:  Arial, sans-serif;
	color: #bbb;
}

.button__list__item .button__link {
	display: block;
	padding: 20px 0;
	margin: 0 auto;
	width: 240px;
	border-radius: 3px;
	background-color: #fed136;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 22px;
	font-family: 'MontserratBold', sans-serif;
	font-weight: bold;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.button__list__item .button__link:hover {
	color: #222222;
}

/*=========footer__social=========*/

.footer__social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 20px 0 30px;
	text-align: center;
}

.footer__social span {
	font-family: 'MontserratRegular', sans-serif;
	font-size: 16px;
	color: #555555;
}

.footer__social__link {
	padding-left: 110px;

}

.footer__social__link a {
	margin-left: 10px;
	background: #fff;
}

.footer__social__link a img:hover {
	opacity: 0.6;
}

/*Adaptiv*/

@media (max-width: 1199px) {
	
	.footer__social {
		display: block;
	}

	.footer__social__link {
		padding-left: 0;
		padding-top: 20px;
	}
} 

@media (max-width: 991px) {

	.wrapper {
		width: 95%;
	}

	.titles h1 {
		font-size: 30px;
	}

	.titles span {
		font-size: 54px;
	}
	
	.about-us__foto:after {
		display: none;
	}
	
	.about-us__left,
	.about-us__right {
		display: block;
		margin-bottom: 40px;
	}

	.about-us__right .about-us__foto {
		padding-right: 0;
		margin: 0 auto;
	}

	.about-us__left .about-us__foto {
		padding-left: 0;
		margin: 0 auto;
	}

	.about-us__right .about-us__text,
	.about-us__left  .about-us__text{
		width: 70%;
		margin: 0 auto;
		text-align: center;
	}

	
	.about-us__text p {
	}

	.footer__social {
		display: block;
	}

	.footer__social__link {
		padding-left: 0;
		padding-top: 20px;
	}
}

@media (max-width: 767px) {

	.header-bg {
		height: 500px;
	}

	.navigation ul {
		display: none;
	}

	.titles {
		padding-top: 100px;
	}

	.wrapper {
		width: 95%;
	}

	.titles h1 {
		font-size: 25px;
	}

	.titles span {
		font-size: 40px;
	}

	.button {
		width: 160px;
		padding: 15px 0;
		font-size: 16px;
	}

	.services {
		padding-bottom: 50px;
	}

	.services__title {
		display: block;
		width: 291px;
		margin: 0 auto;
	}
	
	.services__item {
		margin: 0 auto 30px;
	}

	.portfolio__list {
		display: block;
		width: 291px;
		margin: 0 auto;
	}

	.portfolio__list__item {
		margin-bottom: 30px;
	}

	.footer__portfolio {
	}

	.about-us__foto:after {
		display:none;
	}

	.about__item {
		width: 50%;
		padding: 0;
		margin: 0 auto;
	}

	.about-us__left,
	.about-us__right {
		display: block;
		width: 100%;
		margin-bottom: 50px;
	}

	.about-us__foto {
		-webkit-box-ordinal-group: 0;
		    -ms-flex-order: -1;
		        order: -1;
	}

	.about-us__left .about-us__foto,
	.about-us__right .about-us__foto {
		padding: 0;
		margin: 0 auto 25px;
	}

	.about-us__left .about-us__text,
	.about-us__right .about-us__text {
		width: 100%;
		text-align: center;
	}

	.amazing__title {
		display: block;
	}

	.amazing__title__list {
		margin: 0 auto;
		padding-bottom: 30px;
	}

	.button__list__item .button__link {
		width: 160px;
		padding: 15px 0;
		font-size: 16px;
	}

	.footer__partners__logo {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	.footer__partners__logo a {
		margin-bottom: 30px;
	}

	.contact__list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.contact__list .contact__list__item,
	.contact__list .message__list__item {
		width: 70%;
	}

	p {
		font-size: 14px;
	}

}

@media (max-width: 479px) {
	
	.block__list__item {
		padding: 80px 0 60px;
		font-size: 24px;
	}

	.nav-logo {
		display: block;
	}

	.logo {
		margin: 0 auto;
	}

	.button {
		width: 140px;
		font-size: 14px;
	}

	.wrapper {
		width: 95%;
	}

	.services {
		padding: 0;
	}

	.services__title {
		display: block;
		width: 80%;
		margin: 0 auto 50px;
	}
	
	.portfolio {
    	padding: 0 0 80px;
	}

	h2 {
		font-size: 30px;
	}

	.about {
		font-size: 14px;
	}
	
	.about-us {
    	margin-bottom: 80px;
	}

	.amazing__title__list {
		width: 100%;
	}

	.button__list__item .button__link {
		padding: 15px 0;
		width: 140px;
	}

	.footer__partners__logo {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.amazing__list {
    	padding-bottom: 80px;
	}

	.footer__social span {
		font-size: 14px;
	}

	.contact__list .contact__list__item,
	.contact__list .message__list__item {
		width: 85%;
	}
}