---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<!-- Start header -->
	{% include "partials/_header.html" %}
	<!-- End header -->
	<!-- Start works -->
	{% include "partials/_works.html" %}
	<!-- End works -->
	<!-- Start company -->
	{% include "partials/_company.html" %}
	<!-- End company -->
	<!-- Start certificate -->
	{% include "partials/_certificate.html" %}
	<!-- End certificate -->
	<!-- Start services -->
	{% include "partials/_services.html" %}
	<!-- End services -->
	<!-- Start gallery -->
	{% include "partials/_gallery.html" %}
	<!-- End gallery -->
	<!-- Start footer -->
	{% include "partials/_footer.html" %}
	<!-- End footer -->
{% endblock %}
