.icon-boy {
  width: 0.78em;
  height: 1em;
  fill: initial;
}
.icon-girl {
  width: 0.83em;
  height: 1em;
  fill: initial;
}
.icon-heart {
  width: 1.19em;
  height: 1em;
  fill: initial;
}
