.icon-facebook-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-google-plus-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 2.22em;
  height: 1em;
  fill: initial;
}
.icon-odnoklassniki-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter-logo {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-vk-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
