<div id="callback" class="container container--mod">
    <div class="callback bg-positions">
        <div class="callback__inner inner-s">
            <h2 class="callback__title title-md">
                Please, enter required info
            </h2>
            <div class="callback__description">
                <p>
                    So we can get in touch with you
                </p>
            </div>
            <!-- Start form -->
            {% include "partials/_form.html" %}
            <!-- End form -->
        </div>
    </div>
</div>