<div id="contact" class="container">
    <div class="contact bg-positions">
        <div class="contact__inner inner">
            <h2 class="contact__title title-md">
                Our contacts
            </h2>
            <div class="contact__description ">
                <p>
                    If you have any questions about this test task, feel free to ask
                </p>
            </div>
            <div class="contact__row">
                <div class="contact__col">info@nodeads</div>
                <div class="contact__col"><a href="tel:+380950894643">+380950894643</a></div>
            </div>
        </div>
    </div>
</div>