<div id="hero" class="container container--mod">
    <!-- Start header -->
    {% include "partials/_header.html" %}
    <!-- End header -->
    <div class="hero bg-positions">
        <div class="hero__inner inner-s">
        <div id="first">
            <h2 class="hero__title title-md">
                Welcome to <br> Node Ads test task
            </h2>
        </div>
            <div id="second" class="hero__description">
                <p>
                    We are young IT company based in Kyiv, Ukraine. It’s a pleasure to meet you!
                </p>
            </div>
        </div>
    </div>
</div>