<div class="slider">
    <div class="slider__wrap js-mainSlider">
        <div class="slide">
            <div class="slide__img">
                {{ mixins.icon('dolar') }}
            </div>
            <span class="slide__description">
                Competitive salary
            </span>
        </div>
        <div class="slide">
            <div class="slide__img">
                {{ mixins.icon('people') }}
            </div>
            <span class="slide__description">
                Friendly environment
            </span>
        </div>
        <div class="slide">
            <div class="slide__img">
                {{ mixins.icon('build') }}
            </div>
            <span class="slide__description">
                Cozy office
            </span>
        </div>
        <div class="slide">
            <div class="slide__img">
                {{ mixins.icon('cup') }}
            </div>
            <span class="slide__description">
                Tea, coffeе and fruits
            </span>
        </div>
        <div class="slide">
            <div class="slide__img">
                {{ mixins.icon('dolar') }}
            </div>
            <span class="slide__description">
                Competitive salary
            </span>
        </div>
        <div class="slide">
            <div class="slide__img">
                {{ mixins.icon('people') }}
            </div>
            <span class="slide__description">
                Friendly environment
            </span>
        </div>
    </div>
</div>