.input {
    &__row[type='text'] {
        height: 34px;
        border: none;
        border-bottom: 2px solid $color-mine-shaft;
        padding: 4px 0;
        box-shadow: none;
        font-size: 14px;
        color: $color-dove-gray;
        background: transparent;
        &:focus {
            border: none;
            border-bottom: 2px solid $color-mine-shaft;
            box-shadow: none;
        }
        &::placeholder {
            font-size: 12px;
            color: $color-dove-gray;
            text-transform: uppercase;
        }
    }
}