.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-attention-sign {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-calendar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-call-answer {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-checked {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-facebook-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-linkedin-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 5.62em;
  height: 1em;
  fill: initial;
}
.icon-message-closed-envelope {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-question-mark {
  width: 1em;
  height: 1em;
  fill: #030104;
}
.icon-right-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-rss-symbol {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-send {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
