.icon-arrow {
  width: 1.6em;
  height: 1em;
  fill: initial;
}
.icon-Shape39 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-Shape40 {
  width: 1.39em;
  height: 1em;
  fill: initial;
}
.icon-Shape41 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-Shape42 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-Shape43 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-Shape44 {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.icon-Shape45 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-Shape46 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-Shape47 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-Shape48 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-Shape49 {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-Shape50 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-Shape51 {
  width: 1.15em;
  height: 1em;
  fill: initial;
}
