.icon-apple {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-crosses {
  width: 0.62em;
  height: 1em;
  fill: #2E3544;
}
.icon-facebook-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-google-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-group-28 {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-instagram-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-points {
  width: 1.74em;
  height: 1em;
  fill: #FFB400;
}
.icon-twitter-logo {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-youtube-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
