.icon-arrow {
  width: 0.57em;
  height: 1em;
  fill: #000;
}
.icon-build {
  width: 0.78em;
  height: 1em;
  fill: #262626;
}
.icon-cup {
  width: 1.01em;
  height: 1em;
  fill: #262626;
}
.icon-dolar {
  width: 0.54em;
  height: 1em;
  fill: #262626;
}
.icon-logo {
  width: 1.34em;
  height: 1em;
  fill: #E0E0E0;
}
.icon-people {
  width: 1.09em;
  height: 1em;
  fill: #262626;
}
