.icon-arrow {
  width: 2em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-location {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-location1 {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 1.31em;
  height: 1em;
  fill: initial;
}
.icon-logo4 {
  width: 1.31em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mobile {
  width: 0.74em;
  height: 1em;
  fill: initial;
}
.icon-pic {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-telephone {
  width: 1em;
  height: 1em;
  fill: initial;
}
