.icon-arrow {
  width: 2em;
  height: 1em;
  fill: initial;
}
.icon-calendar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-call {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-drawing-house-plan {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mail-click {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-marker {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ok {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-road-ad {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-signing-the-contract {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-telephone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-viber {
  width: 1em;
  height: 1em;
  fill: #6d2c93;
}
