<form action="/" class="login js-popup-show js-form">
    <div class="login__wrap">
        <div class="login__col">
            <h3 class="login__title border title-sm">
                signup
            </h3>
            <div class="login__row">
                <input class="input" type="text" name="name2" placeholder="Username / Email" required>
            </div>
            <div class="login__row">
                <input class="input" type="password" name="password2" placeholder="Password" required>
            </div>
            <div class="login__row login__row--mod">
                <a href="" class="login__forgot">
                    <div class="hint hint--mod">
                        <span class="hint__quest hint__quest--mod">
                            {{ mixins.icon('attention-sign') }}
                        </span>
                        <div class="hint__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Non sit expedita modi minima obcaecati?
                            Nesciunt quae veniam molestias illo! Laborum, ut!
                            Quos temporibus consectetur aliquam veritatis fugit!
                            Nulla, iste perferendis.
                        </div>
                    </div>
                    We will email you your password.
                </a>
            </div>
            <div class="login__row">
                <button class="btn submit" type="submit">
                    Login now
                </button>
            </div>
            <div class="sige-in">
                Don't have an account?
                <a class="sige-in__link" href="#">Login</a>
            </div>
        </div>
        <div class="login__col login__col--mod">
            <h3 class="login__title border title-sm">
                signup with
            </h3>
            <div class="buttons">
                <button class="btn btn--facebook" type="submit">
                    Facebook
                </button>
            </div>
            <div class="buttons">
                <button class="btn btn--twitter" type="submit">
                    Twitter
                </button>
            </div>
            <div class="buttons">
                <button class="btn btn--google" type="submit">
                    Google+
                </button>
            </div>
            <div class="buttons">
                <button class="btn btn--linkedin" type="submit">
                    LinkedIn
                </button>
            </div>
        </div>
    </div>
</form>