<div class="wrapper">
	<div class="container pink">
		<main class="main bg-image" style="background-image: url(./img/bg-image.jpg);">
			<div class="main__list">
				<ul class="list">
					<li class="list__item">
						Название1
					</li>
					<li class="list__item">
						Название2
					</li>
					<li class="list__item">
						Название3
					</li>
					<li class="list__item">
						Название4
					</li>
					<li class="list__item">
						Очень длинное название5
					</li>
					<li class="list__item">
						Очень очень длинное название6
					</li>
					<li class="list__item">
						Длинное название7
					</li>
					<li class="list__item">
						Длинное название8
					</li>
				</ul>
			</div>
		</main>
		<aside class="aside pink">
			<div class="aside__wrap">
				<div class="aside__content">
					<div class="heart">
						<span class="heart__icon">
							{{ mixins.icon('heart') }}
						</span>
					</div>
					<h4 class="aside__title title-s title-s--pink">
						Lorem ipsum
					</h4>
					<div class="aside__description">
						<p>
							Mauris vel nisi ac orci 
							placerat semper. Aenean 
							sapien massa.
						</p>
					</div>
					<h3 class="aside__question title-sm">
						Lorem ipsum?
					</h3>
					<a href="step1.html" class="aside__btn btn btn--pink">
						Начать
					</a>
				</div>	
			</div>
		</aside>
	</div>	
</div>