<div class="wrapper js-parent-wrap">
	<div class="container step1 orange">
		<main class="main bg-image" style="background-image: url(./img/bg-image.jpg);">
			<div class="percent orange js-show">
				<span class="percent__counter js-percent-text">
				</span>
				<span class="percent__description">
					Людей обращают внимание на <span class="js-option">Б</span>.
				</span>
			</div>
			<div class="main__list">
				<ul class="list">
					<li class="list__item">
						Название1
					</li>
					<li class="list__item">
						Название2
					</li>
					<li class="list__item">
						Название3
					</li>
					<li class="list__item">
						Название4
					</li>
					<li class="list__item">
						Очень длинное название5
					</li>
					<li class="list__item">
						Очень очень длинное название6
					</li>
					<li class="list__item">
						Длинное название7
					</li>
					<li class="list__item">
						Длинное название8
					</li>
				</ul>
			</div>
		</main>
		<aside class="aside orange">
			<div class="aside__wrap">
				<div class="aside__content">
					<div class="heart">
						<span class="heart__icon">
							{{ mixins.icon('heart') }}
						</span>
					</div>
					<h4 class="aside__title title-s title-s--orange">
						Lorem ipsum dolor sit amet, 
						consectetur adipiscing elit. 
						Integer a urna sit amet 
					</h4>
					<form class="form js-form" action="/">
						<div class="form__row">
							<label class="label">
								<input type="radio" class="label__input" name="option" id="optionA">
								<span class="label__text label__text--orange">
									Вариант А
								</span>
							</label>
						</div>
						<div class="form__row">
							<label class="label">
								<input type="radio" class="label__input" name="option" id="optionB">
								<span class="label__text label__text--orange">
									Вариант Б
								</span>
							</label>
						</div>
						<div class="form__row form__row--mod">
							<label class="label">
								<input type="radio" class="label__input" name="option" id="optionC">
								<span class="label__text label__text--orange">
									Вариант В
								</span>
							</label>
						</div>
						<div class="form__row">
							<button type="submit" class="form__btn btn btn--orange btn--border js-show">
								Продолжить
							</button>
						</div>
					</form>
				</div>	
			</div>
		</aside>
	</div>	
</div>