// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-dark: #010;
$color-mine-shaft:#333;
$color-dove-gray: #666;
$color-gallery: #eee;
$color-white: #fff;
$color-lightning-yellow: #ffc815;
$color-atlantis: #a3cd3b;
$color-cerulean: #0093d7;

// FONTS

$font-family-roboto: "Roboto", sans-serif;