<div class="wrapper">
	<!-- Start header -->
	<header class="header">
		<div class="header__container container">
			<div class=" header__row row">
				<div class="header__col col-lg-5 col-md-6 col-sm-3">
					<div class="header__logo">
						<a href="./page.html" class="header__link">
							Logo
						</a>
					</div>
					<div class="header__description">
						<p>
							Фабрика фотообоев в КИЕВЕ
							изготовЛение фотообоев
						</p>
					</div>
				</div>
				<div class="col-lg-7 col-md-6 col-sm-3">
					<div class="header__contact">
						<a href="tel:044 278 21 00" class="header__number-link">
							044 278 21 00
						</a>
						<button type="button" class="header__feedback-btn btn">
							Обратный звонок
						</button>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- End-header -->
	{% include "partials/_hero.html" %}
</div>