<section class="hero">
<!-- Start slider -->
	<div class="slider js-slider-wrap">
		<div class="slider__wrap js-init-slider">
			<div class="slider__slide" style="background-image: url(./img/sleeping-room.jpg);">
				<div class="slider__inner inner">
					<div class="slider__text-block">
						<div class="slider__text">
							 Для спальни
						</div>
						<div class="slider__price">
							от <span class="slider__price-number">50</span> $/ м<sup>2</sup>
						</div>
					</div>
				</div>
			</div>
			<div class="slider__slide" style="background-image: url(./img/kitchen.jpg);">
				<div class="slider__inner inner">
					<div class="slider__text-block">
						<div class="slider__text">
							Для кухни
						</div>
						<div class="slider__price">
							от <span class="slider__price-number">60</span> $/ м<sup>2</sup>
						</div>
					</div>
				</div>	
			</div>
			<div class="slider__slide" style="background-image: url(./img/kitchen1.jpg);">
				<div class="slider__inner inner">
					<div class="slider__text-block">
						<div class="slider__text">
							Для кухни
						</div>
						<div class="slider__price">
							от <span class="slider__price-number">70</span> $/м<sup>2</sup>
						</div>
					</div>
				</div>	
			</div>
			<div class="slider__slide" style="background-image: url(./img/living-room.jpg);">
				<div class="slider__inner inner">
					<div class="slider__text-block">
						<div class="slider__text">
							Для гостиной
						</div>
						<div class="slider__price">
							от <span class="slider__price-number">80</span> $/м<sup>2</sup>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
<!-- End slider	 -->
	<div class="hero__wrap  js-navigation">
		<!-- Start navigation -->
		<nav class="menu">
			<div class="toggle js-toggle">
				<span class="toggle__line"></span>
				<span class="toggle__line"></span>
				<span class="toggle__line"></span>
				<span class="toggle__line"></span>
				<span class="toggle__line"></span>
				<span class="toggle__line"></span>
			</div>
			<div class="menu__container container js-hide-block">
				<div class="row">
					<div class="menu__col col-md-10 offset-md-1">
						<lu class="menu__list">
							<li class="menu__item is-active js-active">
								<a href="#" class="menu__link">
									Главная
								</a>
							</li>
							<span class="menu__line">|</span>
							<li class="menu__item js-active">
								<a href="#" class="menu__link">
									Для Детской
								</a>
							</li>
							<span class="menu__line">|</span>
							<li class="menu__item js-active">
								<a href="#" class="menu__link">
									Для ДетСкой
								</a>
							</li>
							<span class="menu__line">|</span>
							<li class="menu__item js-active">
								<a href="#" class="menu__link">
									Для Кухни
								</a>
							</li>
							<span class="menu__line">|</span>
							<li class="menu__item js-active">
								<a href="#" class="menu__link">
									Контакты
								</a>
							</li>
						</lu>
					</div>
				</div>
			</div>
		</nav>
		<!-- End navigation -->
		<div class="hero__inner inner">
			<div class="hero__title-block">
				<h1 class="hero__title title-lg">
					Фотообои
				</h1>
			</div>
			<sapn class="hero__info">
				Более 6000 идей фотообоев для ГОСТИНОЙ
			</sapn>
			<div class="hero__btn btn btn-border">
				Смотреть идеи
			</div>
		</div>
		<div class="hero__footer">
			<div class="hero__container container">
				<div class="row">
					<div class="col col-md-3 col-sm-6 col-xs-8">
						<div class="box">
							<div class="box__icon box__icon--mod">
								<img src="./img/picture.png" alt="">
							</div>
							<h5 class="box__title title-s">
								Печатаем что угодно
							</h5>
							<div class="box__discrition">
								<p>
									Все фотообои мы изготавливаем под заказ на собственном оборудовании. По этому можем напечатать совершенно всe, что вы захотите
								</p>
							</div>
						</div>
					</div>
					<div class="col col-md-3 col-sm-6 col-xs-8">
						<div class="box">
							<div class="box__icon box__icon--mod">
								<img src="./img/resize.png" alt="">
							</div>
							<h5 class="box__title title-s">
								Любые размеры
							</h5>
							<div class="box__discrition">
								<p>
									Профессиональное оборудование позволяет напечатать фотообои совершенно любого размера. Можем заклеить как часть, таки все стену без ограничений.
								</p>
							</div>
						</div>
					</div>
					<div class="col col-md-3 col-sm-6 col-xs-8">
						<div class="box">
							<span class="box__icon">
								{{ mixins.icon('calendar') }}
							</span>
							<h5 class="box__title title-s">
								Изготовление за 1 день
							</h5>
							<div class="box__discrition">
								<p>
									В среднем, изготовление одних фотообоев среднего размера занимает не более одного дня!
								</p>
							</div>
						</div>
					</div>
					<div class="col col-md-3 col-sm-6 col-xs-8">
						<div class="box">
							<span class="box__icon">
								{{ mixins.icon('hends') }}
							</span>
							<h5 class="box__title title-s">
								Без посредников
							</h5>
							<div class="box__discrition">
								<p>
									Мы имеем в наличие все необходимое оборудование для самостоятельного изготовления фотообоев. А значит вы не переплачиваете посредникам.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End-slider -->