<div class="container">
	<section class="hero">
		<div class="hero__bg">
			<div class="hero__inner inner">
				<nav class="nav-menu inner-s">
					<ul class="list mob-show">
						<li class="list__item">
							м.Київ
						</li>
						<li class="list__item">
							вул. М.Малиновського 28, оф.5
						</li>
					</ul>
					<div class="toggle mob-show js-toggle">
						<span class="toggle__line"></span>
					</div>
					<ul class="nav-menu__list mob-hide js-hide-block">
						<li class="nav-menu__item">
							<a href="#who-we" class="nav-menu__link">Кто мы</a>
						</li>
						<li class="nav-menu__item">
							<a href="#why" class="nav-menu__link">Почему мы</a>
						</li>
						<li class="nav-menu__item">
							<a href="#advantage" class="nav-menu__link">Наши преимущества</a>
						</li>
						<li class="nav-menu__item">
							<a href="#services" class="nav-menu__link">Услуги</a>
						</li>
						<li class="nav-menu__item">
							<a href="#team" class="nav-menu__link">Команда</a>
						</li>
						<li class="nav-menu__item">
							<a href="#contacts" class="nav-menu__link">Контакты</a>
						</li>
					</ul>
					<ul class="nav-menu__leng leng mob-hide">
						<li class="leng__item">
							<a class="leng__link" href="index.html">UK</a>
						</li>
						<li class="leng__item">
							<a class="leng__link is-active" href="index-ru.html">RU</a>
						</li>
						<li class="leng__item">
							<a class="leng__link" href="index-en.html">EN</a>
						</li>	
					</ul>
				</nav>
				<div class="hero__wrap">
					<div class="hero__text-block">
						<h1 class="hero__title title-lg">Объединение адвокатов “Profi lawyer”</h1>
						<span class="hero__description">Профессиональные юридические услуги для физических и юридических лиц</span>
					</div>
					<a href="#consultation" class="hero__btn btn">
						Получить бесплатную консультацию
					</a>
					<div class="down">
						<span class="down__icon">{{ mixins.icon('arrow') }}</span>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>