<div class="container">
	<div class="wrapper">
		<section id="services" class="services inner  js-parent-ru">
			<div class="services__title title-sm_mod">Наши услуги</div>
			<div class="services__row js-slide-parents">
				<div class="services__col">
					<img src="img/layer2.jpg" alt="layer2">
					<div class="services__box">
						<img src="img/icon4.png" alt="icon4">
						<h4 class="title-s">
							Для физических лиц 
							<span>
								{{ mixins.icon('arrow') }}
							</span>
						</h4>
						<div class="services__block-btn">
							<button type="button" class="services__box-btn btn btn-mod js-list-btn">
								К списку						
							</button>
						</div>
					</div>
				</div>
				<div class="services__col services__col_hide js-parents">
					<ul class="services-list">
						<li>
							<button type="button" class="services-list__btn services-list__btn_mod btn-s js-show-btn">Смотреть больше</button>
							<button class="close-btn js-close">{{ mixins.icon("close") }}</button>
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Юридические консультации: устные, письменные 	
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Юридические заключения
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Осуществление адвокатом выезда для оказания юридической помощи в уголовных, административных, гражданских, хозяйственных делах
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Проведение переговоров, подготовка писем / претензий 
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Подготовка адвокатских запросов
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Медиация	
						</li>
						<ul class="services-list__hide js-show-block">
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Представительство в хозяйственных судах: дела по спорам, возникающим при заключении, изменении, расторжении и выполнении хозяйственных договоров; дела о банкротстве; дела, возникающие из корпоративных отношений; дела по спорам относительно учета прав на ценные бумаги, защиту интеллектуальной собственности
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Представительство в судах Общей юрисдикции: семейные, гражданские, жилищные, земельные, трудовые, банковские, наследственные, интеллектуальные дела, а также дела, возникающие из дорожно-транспортных происшествий, обжалование штрафов	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Представительство в Административных судах: налоговые споры; пенсионные споры; споры с субъектом властных полномочий относительно обжалования его решений; споры по поводу принятия граждан на публичную службу, ее прохождения, увольнения; споры, возникающие по поводу заключения, исполнения, прекращения, отмены или признания недействительными административных договоров; дела об обжаловании решений аттестационных, конкурсных, медико-социальных экспертных комиссий; споры с распорядителем публичной информации; административные споры по поводу решений, действий или бездеятельности субъектов властных полномочий; дела, связанные с пребыванием иностранцев и лиц без гражданства на территории Украины; дела по поводу решений, действий или бездеятельности государственной исполнительной службы
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Представительство в Международном коммерческом арбитражном суде при Торгово-промышленной палате Украины	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Представительство в третейских судах
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Защита адвокатом интересов клиента по уголовным делам: в полиции, прокуратуре, СБУ, НАБУ. Защита интересов обвиняемого / потерпевшего / свидетеля в ходе следствия; помощь в ходе проведения допросов, очных ставок, следственных экспериментов; посещение обвиняемого в следственном изоляторе; обжалование избранной меры пресечения; подготовка ходатайств; сбор материалов, характеризующий личность обвиняемого; защита интересов в суде	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Сопровождение исполнительного производства	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Юридическая подготовка и анализ соглашений, договоров, контрактов	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Юридичне супроводження угод щодо купівлі-продажу нерухомого та рухомого майна	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Юридическое сопровождение сделок по купле-продаже недвижимого и движимого имущества	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Регистрация ООО, ЧП, СПД, подготовка всех учредительных документов
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Регистрация права собственности через ЦНАП, нотариальные конторы, признание права собственности через суд	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Сопровождение налоговых проверок, отмена налоговых решений и сообщений ГНИ в судебном и внесудебном порядке	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Юридические услуги для иностранцев: получение разрешения на трудоустройство; вида на жительство; вида на жительство; учетной карточки плательщика налогов; регистрация предприятий с иностранными инвестициями; решение вопроса депортации (творения) расторжении иностранцами брака зарегистрированного в Украине	
							</li>
							<li class="services-list__item services-list__item_mod">
								Перечень юридических услуг не является исчерпывающим, поскольку зависит от индивидуальных потребностей клиента
							</li>
						</ul>
					</ul>
				</div>
			</div>
			<div class="services__row js-slide-parents">
				<div class="services__col services__col_hide js-parents">
					<ul class="services-list">
						<li>
							<button type="button" class="services-list__btn services-list__btn_mod btn-s js-show-btn">Смотреть больше</button>
							<button class="close-btn js-close">{{ mixins.icon("close") }}</button>
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Абонентское обслуживание - АУТСОРСИНГ: 	
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Юридическое консультирование с предоставлением предложений по вариантам решения вопросов гражданского, хозяйственного, корпоративного, трудового, налогового, земельного, таможенного, административного, уголовного права
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Представление адвокатских запросов (сбор документов для суда)
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Подготовка, анализ, корректировка гражданских, хозяйственных договоров и контрактов 
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Юридический анализ деятельности предприятия
						</li>
						<ul class="services-list__hide js-show-block">
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Правовое обеспечение трудовых отношений (разработка контрактов, трудовых договоров, коллективных договоров, договоров о материальной ответственности)	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Участие адвоката АО «Profi Lawyer» при проведении проверок налоговой, органами государственного контроля и правоохранительными органами, в том числе обысках и принудительном проникновении в помещение 	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Представительство интересов клиента в различных государственных структурах, прокуратуре, полиции, НАБУ	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Представительство интересов клиента в судах всех юрисдикций
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Подготовка исковых заявлений, заявлений об обеспечении иска, ходатайств, объяснений, отзывов, возражений, апелляционных и кассационных жалоб	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Сопровождение исполнительного производства
							</li>
							<li class="services-list__item services-list__item_mod">
								Перечень юридических услуг не является исчерпывающим, поскольку зависит от индивидуальных потребностей клиента	
							</li>
						</ul>
					</ul>
				</div>
				<div class="services__col order1">
					<img src="img/layer2.jpg" alt="layer2">
					<div class="services__box">
						<img src="img/icon5.png" alt="icon4">
						<h4 class="title-s">
							<span class="rotate">
								{{ mixins.icon('arrow') }}
							</span>
							Для юридических лиц
						</h4>
						<div class="services__block-btn">
							<button type="button" class="services__box-btn btn btn-mod js-list-btn">
								К списку						
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>