---
title: Dozvil.ua
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<!-- Start header -->
	{% include "partials/_header.html" %}
	<!-- End header -->
	<!-- Start company -->
	{% include "partials/_about-company.html" %}
	<!-- End company -->
	<!-- Start services -->
	{% include "partials/_services.html" %}
	<!-- End services -->
	<!-- Start recommendations -->
	{% include "partials/_recommendations.html" %}
	<!-- End recommendations -->
	<!-- Start advantages -->
	{% include "partials/_advantages.html" %}
	<!-- End advantages -->
	<!-- Start consultation -->
	{% include "partials/_consultation.html" %}
	<!-- End consultation -->
	<!-- Start works -->
	{% include "partials/_works.html" %}
	<!-- End works -->
	<!-- Start contacts -->
	{% include "partials/_contacts.html" %}
	<!-- End contacts -->
	<!-- Start footer -->
	{% include "partials/_footer.html" %}
	<!-- End footer -->

{% endblock %}
