.icon-arrow-link {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 0.52em;
  height: 1em;
  fill: initial;
}
.icon-eye {
  width: 1.73em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 3.76em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
