<div class="wrapper">
	<section class="diagram">
		<div class="diagram__container">
			<div class="diagram__right-cube">
				<img src="img/box-3.png" alt="cube">
			</div>
			<div id="chart1" class="diagram__chart">
			</div>
			<!-- begin diagram -->
			<div class="diagram__wrap charts-tabs ">
			<!-- begin charts-tabs -->
				<div class="charts-tabs" data-tabs>
					<div class="charts-tabs__inner inner-mod">
						<div class="charts-tabs__block">
							<header>
								<h2 class="charts-tabs__title title-md">Popular forecasts</h2>
								<p>The forecasts are updated every 30 minutes</p>
							</header>
							<ul class="charts-tabs__list js-scroll-tabs">
								<li class="charts-tabs__item is-active" data-tabs-control="tab-1">
									btc
								</li>
								<li class="charts-tabs__item" data-tabs-control="tab-2">
									ltc
								</li>
								<li class="charts-tabs__item" data-tabs-control="tab-3">
									eth
								</li>
								<li class="charts-tabs__item" data-tabs-control="tab-4">
									xrp
								</li>
								<li class="charts-tabs__item" data-tabs-control="tab-5">
									dash
								</li>
								<li class="charts-tabs__item" data-tabs-control="tab-6">
									xmr
								</li>
							</ul>
						</div>
					</div>
					<div class="charts-tabs__wrap" data-tabs-wrapper>
						<div class="charts-tabs__container is-open" data-tabs-container="tab-1">
							<div class="charts-tabs__slide chart">
								<div id="chart-btc" class="chart__wrap"></div>
							</div>
						</div>
						<div class="charts-tabs__container" data-tabs-container="tab-2">
							<div class="charts-tabs__slide chart">
								<div id="chart-ltc" class="chart__wrap"></div>
							</div>
						</div>
						<div class="charts-tabs__container" data-tabs-container="tab-3">
							<div class="charts-tabs__slide chart">
								<div id="chart-eth" class="chart__wrap"></div>
							</div>
						</div>
						<div class="charts-tabs__container" data-tabs-container="tab-4">
							<div class="charts-tabs__slide chart">
								<div id="chart-xrp" class="chart__wrap"></div>
							</div>
						</div>
						<div class="charts-tabs__container" data-tabs-container="tab-5">
							<div class="charts-tabs__slide chart">
								<div id="chart-dash" class="chart__wrap"></div>
							</div>
						</div>
						<div class="charts-tabs__container" data-tabs-container="tab-6">
							<div class="charts-tabs__slide chart">
								<div id="chart-xmr" class="chart__wrap"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- end charts-tabs -->
			</div>
			<!-- end diagram -->
		</div>
	</section>
</div>