<div class="wrapper">
	<section class="hero">
		<div class="hero__inner inner">
			<div class="hero__wrap">
				<div class="hero__text">
					<h2 class="title-lg">Forecasting Exchange Rates</h2>
					<p>of Cryptocurrencies<br> by Neural Network Algorithm</p>
					<a href="#" class="hero__btn btn">Join Free For 3 Days</a>
				</div>
			</div>
			<div class="hero__video">
				<div class="hero__image" >
					<img src="img/robot.png" alt="Robot">
				</div>
				<div class="hero__bg">
					<div class="hero__video-radius">
					</div>
				</div>
			</div>
		</div>
		<div class="hero__left-cube">
			<img src="img/box-1.png" alt="cube">
		</div>
		<div class="hero__right-cube">
			<img src="img/box-2.png" alt="cube">
		</div>
	</section>
</div>