<div class="wrapper">
	<!-- Start question -->
	<section class="question">
		<div class="question__inner inner">
			<div class="question__container">
				<header>
					<h2 class="question__title title-md_mod">Frequently Asked<br><span>Questions</span></h2>
				</header>
				<div class="question__row acord">
					<div class="acord__block">
						<button class="acord__button" type="button">
							<span>{{ mixins.icon( 'arrow' ) }}</span>
						</button>
						<div class="acord__text">
							<h3 class="acord__title title-xs_mod">Why the graphic predictions for the 24 hours differs from that of the 48 hour and the weekly?</h3>
							<p>
								Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different.
							</p>
						</div>
					</div>
					<div class="acord__block">
						<button class="acord__button" type="button">
							<span>{{ mixins.icon( 'arrow' ) }}</span>
						</button>
						<div class="acord__text">
							<h3 class="acord__title title-xs_mod">What is the charts time zone?</h3>
							<p>
								Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different.
							</p>
						</div>
					</div>
					<div class="acord__block">
						<button class="acord__button" type="button">
							<span>{{ mixins.icon( 'arrow' ) }}</span>
						</button>
						<div class="acord__text">
							<h3 class="acord__title title-xs_mod">How accurate are the forecasts?</h3>
							<p>
								Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different.
							</p>
						</div>
					</div>
					<div class="acord__block">
						<button class="acord__button" type="button">
							<span>{{ mixins.icon( 'arrow' ) }}</span>
						</button>
						<div class="acord__text">
							<h3 class="acord__title title-xs_mod">Why are the graphics of the forecasts so inconvenient?</h3>
							<p>
								Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different.
							</p>
						</div>
					</div>
					<div class="acord__block">
						<button class="acord__button" type="button">
							<span>{{ mixins.icon( 'arrow' ) }}</span>
						</button>
						<div class="acord__text">
							<h3 class="acord__title title-xs_mod">What is the most accurate forecast?</h3>
							<p>
								Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End question -->
</div>