<div class="wrapper">
	<!-- Start roadmap -->
	<section class="roadmap">
		<div class="roadmap__inner inner-mod">
			<div class="roadmap__container">
				<div class="roadmap__wrap point">
					<div class="point__block point__block_mod">
						<div class="point__row">
							<div class="point__col-left point__col-left_padding">
								<h2 class="point__title title-md">Roadmap<br><span class="point__title-mod">2017-2018</span></h2>
							</div>
							<div class="point__col-right width"></div>
						</div>
					</div>
					<div class="point__block">
						<div class="point__row">
							<div class="point__col-left width">
								<div class="poin__line point__line_up hide-image">
									<img src="img/rectangle5.svg" alt="white-line">
								</div>
								<div class="poin__line point__line_up show-image">
									<img src="img/rectangle5-mob.svg" alt="white-line">
								</div>
								<div class="point__box1">
									<img src="img/box1.png" alt="box">
								</div>
							</div>
							<div class="point__col-right margin-left margin-left_mod">
								<div class="point__circle date">
									<span class="date__up-line">10</span>
									<span class="date__down-line">2017</span>
								</div>
								<span class="point__icon">{{ mixins.icon( 'Shape46' ) }}</span>
								<div class="point__text">
									<h3 class="point__title title-xs">Elliott wave theory</h3>
									<p>
										The algorithm will take into account the Elliott wave in the forecast. Adding new currencies. General improvement of the algorithm.
									</p>
								</div>
							</div>
						</div>
						<div class="point__row">
							<div class="point__col-left margin-right margin-left_mod">
								<div class="date date_mod posit-right">
									<span class="date__up-line">11</span>
									<span class="date__down-line">2017</span>
								</div>
								<span class="point__icon">{{ mixins.icon( 'Shape47' ) }}</span>
								<div class="point__text">
									<h3 class="point__title title-xs">Basic analysis of news</h3>
									<p>
										Accounting for news in the forecast of neurobot. Basic analysis of market sentiment.
									</p>
								</div>
							</div>
							<div class="point__col-right order1 width">
								<div class="point__box2">
									<img src="img/box2.png" alt="box">
								</div>
								<div class="poin__line point__line_right  hide-image">
									<img src="img/rectangle6.svg" alt="white-line">
								</div>
								<div class="poin__line point__line_right point__line_second show-image">
									<img src="img/rectangle6-mob.svg" alt="white-line">
								</div>
							</div>
						</div>
					</div>
					<div class="point__block">
						<div class="point__row point__row_height">
							<div class="point__col-left width">
								<div class="poin__line point__line_left hide-image">
									<img src="img/rectangle7.svg" alt="white-line">
								</div>
							</div>
							<div class="point__col-right margin-left order1">
								<div class="date date_mod-color date_position">
									<span class="date__up-line">01</span>
									<span class="date__down-line">2018</span>
								</div>
								<span class="point__icon">{{ mixins.icon( 'Shape49' ) }}</span>
								<div class="point__text">
									<h3 class="point__title title-xs">API for trading
									systems</h3>
									<p>
										The launch of a beta api for developing trading robots on the platform Neurobot.
									</p>
								</div>
							</div>
						</div>
						<div class="point__row">
							<div class="point__col-left margin-right order1">
								<div class="date date_mod date_mod-color posit-right date_position">
									<span class="date__up-line">03</span>
									<span class="date__down-line">2018</span>
								</div>
								<span class="point__icon">{{ mixins.icon( 'Shape45' ) }}</span>
								<div class="point__text">
									<h3 class="point__title title-xs">Improved news analysis</h3>
									<p>
										Grouping news into semantic chains according to the positive and negative scenarios. This will enable neurobot to predict the emerging of news critical to the market.
									</p>
								</div>
							</div>
							<div class="point__col-right width">
								<div class="poin__line point__line_right hide-image">
									<img src="img/rectangle6.svg" alt="white-line">
								</div>
							</div>
						</div>
					</div>
					<div class="point__block">
						<div class="point__row">
							<div class="point__col-left width">
								<div class="poin__line point__line_left hide-image">
									<img src="img/rectangle7.svg" alt="white-line">
								</div>
								<div class="poin__line point__line_right point__line_third show-image">
									<img src="img/rectangle7-mob.svg" alt="white-line">
								</div>
								<div class="point__box3">
									<img src="img/box3.png" alt="box">
								</div>
							</div>
							<div class="point__col-right margin-left">
								<div class="date date_mod-color posit-right">
									<span class="date__up-line">04</span>
									<span class="date__down-line">2018</span>
								</div>
								<span class="point__icon">{{ mixins.icon( 'Shape48' ) }}</span>
								<div class="point__text">
									<h3 class="point__title title-xs">Adding new trading instruments</h3>
									<p>
										Forecasting tokens. The overall improvement in accuracy of the algorithm.
									</p>
								</div>
							</div>
						</div>
						<div class="point__row">
							<div class="point__col-left margin-right">
								<div class="date date_mod date_mod-color posit-right">
									<span class="date__up-line">03</span>
									<span class="date__down-line">2018</span>
								</div>
								<span class="point__icon">{{ mixins.icon( 'Shape50' ) }}</span>
								<div class="point__text">
									<h3 class="point__title title-xs">The release version of Neurobot</h3>
									<p>
										Run the release version API for developing trading robots.
									</p>
								</div>
							</div>
							<div class="point__col-right width order1">
								<div class="poin__line point__line_right-bottom hide-image">
									<img src="img/rectangle8.svg" alt="white-line">
								</div>
								<div class="poin__line point__line_right-bottom show-image">
									<img src="img/rectangle8-mob.svg" alt="white-line">
								</div>
								<div class="point__box4">
									<img src="img/box-1.png" alt="box-1">
								</div>
								<div class="point__box5">
									<img src="img/box-1.png" alt="box-1">
								</div>
								<div class="point__box6">
									<img src="img/box2.png" alt="box6">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End roadmap -->
</div>