<div class="wrapper">
    <section class="advantages">
        <div class="advantages__inner inner">
            <div class="advantages__wrap">
                <h2 class="advantages__title title-md">
                    Почему стоит выбирать именно нас?
                </h2>
                <div class="advantages__row">
                    <div class="advantages__col">
                        <div class="card">
                            <div class="card__col card__col--left">
                                <div class="card__circle">
                                    <span class="card__number">1</span>
                                </div>
                            </div>
                            <div class="card__col card__col--right">
                                <p>
                                    Мгновенный заказ напрямую с мобильного 
                                    телефона или сайта, без диспетчера
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="advantages__col">
                        <div class="card">
                            <div class="card__col card__col--left">
                                <div class="card__circle">
                                    <span class="card__number">2</span>
                                </div>
                            </div>
                            <div class="card__col card__col--right">
                                <p>
                                    Вы можете также выбрать подходящего водителя или 
                                    машину в соотношении цена/качество
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="advantages__col">
                        <div class="card">
                            <div class="card__col card__col--left">
                                <div class="card__circle">
                                    <span class="card__number">3</span>
                                </div>
                            </div>
                            <div class="card__col card__col--right">
                                <p>
                                    Выгодные цены, минимальный тариф по городу 
                                    Киев - 30 грн. Цена за 1 км — 2.7 грн
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="advantages__col">
                        <div class="card">
                            <div class="card__col card__col--left">
                                <div class="card__circle">
                                    <span class="card__number">4</span>
                                </div>
                            </div>
                            <div class="card__col card__col--right">
                                <p>
                                    Вы можете также выбрать подходящего водителя или 
                                    машину в соотношении цена/качество
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="advantages__col">
                        <div class="card">
                            <div class="card__col card__col--left">
                                <div class="card__circle">
                                    <span class="card__number">5</span>
                                </div>
                            </div>
                            <div class="card__col card__col--right">
                                <p>
                                    Вы имеете возможность наблюдать за движением 
                                    водителя на карте в режиме реального времени
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="advantages__col">
                        <div class="card">
                            <div class="card__col card__col--left">
                                <div class="card__circle">
                                    <span class="card__number">6</span>
                                </div>
                            </div>
                            <div class="card__col card__col--right">
                                <p>
                                    Система рейтинга поможет Вам в выборе таксиста, 
                                    который предлагает свои услуги.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>