<div class="wrapper">
    <section class="hero">
        <div class="hero__inner inner">
            <div class="hero__wrap">
                <div class="hero__col hero__col--left">
                   <h1 class="hero__title title-lg">
                        Скачайте приложение IQ
                   </h1>
                   <div class="hero__descript">
                       <p>
                        IQ Taxi - это самое быстрое, 
                        практичное и надежное приложение для заказа такси.
                       </p>
                   </div>
                   <div class="btn-market">
                       <a href="#" class="btn-market__box btn">
                            <div class="btn-market__col">
                                {{ mixins.icon('apple') }}
                            </div>
                            <div class="btn-market__col">
                                <span class="btn-market__text btn-market__text--up">
                                    Download on the
                                </span>
                                <span class="btn-market__text btn-market__text--down">
                                    App Store
                                </span>
                            </div>
                       </a>
                       <a href="#" class="btn-market__box btn">
                            <div class="btn-market__col">
                                {{ mixins.icon('google-play') }}
                            </div>
                            <div class="btn-market__col">
                                <span class="btn-market__text btn-market__text--up">
                                    Download on the
                                </span>
                                <span class="btn-market__text btn-market__text--down google">
                                    Google play
                                </span>
                            </div>
                       </a>
                   </div>
                   <form action="/" class="form-phone">
                        <ul class="form-phone__list">
                            <li class="form-phone__item">
                                <label for="phone1" class="form-phone__label">
                                    Получи ссылку на свой телефон:
                                </label>
                                <input id="phone1" 
                                        class="form-phone__input" 
                                        type="tel" 
                                        name="phone1" 
                                        placeholder="+380 ( _ _ ) _ _   _ _  _ _ ">
                                <button class="form-phone__btn btn btn--xs" type="submit" disabled>
                                    Получить
                                </button>
                            </li>
                        </ul>
                    </form>
                    <div class="hero__text consent">
                        <p>
                            Нажимая кнопку «Получить» я даю свое согласие на использование 
                            и обработку моих персональных данных в соответствии с ч.
                            1 ст. 9 ФЗ от 27.07.2006 г. № 152 «О персональных данных».
                        </p>
                    </div>
                </div>
                <div class="hero__col hero__col--right">
                    <div class="hero__img">
                        <img src="./img/img-car.png" alt="Pyictures-car">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>