<div class="wrapper">
    <section class="message">
        <div class="message__inner inner">
            <h2 class="message__title title-md title-md--bold">
                Быстро и просто
            </h2>
            <div class="message__wrap">
                <div class="message__col message__col--left">
                    <p>
                        Для того чтобы использовать нашу систему с помощью 
                        Вашего смартфона Вам необходимо ввести в форму Ваш номер телефона.
                        Регистрация в системе происходит мгновенно. В SMS придут 
                        ссылки на приложение с AppStore или Google Play. Также вы
                        можете заказать такси на сайте в любое время суток.
                    </p>
                </div>
                <div class="message__col message__col--right">
                    <form action="/" class="form-phone">
                        <ul class="form-phone__list">
                            <li class="form-phone__item">
                                <label for="phone1" class="form-phone__label">
                                    Получи ссылку на свой телефон:
                                </label>
                                <input id="phone1" class="form-phone__input" type="tel" name="phone1" placeholder="+380 ( _ _ ) _ _   _ _  _ _ ">
                                <button class="form-phone__btn btn btn--xs" type="submit" disabled>
                                    Получить
                                </button>
                            </li>
                        </ul>
                    </form>
                    <div class="message__text consent">
                        <p>
                            Нажимая кнопку «Получить» я даю свое согласие на использование
                            и обработку моих персональных данных в соответствии с ч.
                            1 ст. 9 ФЗ от 27.07.2006 г. № 152 «О персональных данных».
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>