<div class="wrapper js-start-animation">
	<div class="about-company" id="about-company">
		<div class="about-company__inner inner">
			<h2 class="about-company__title title-md">
				О компании
			</h2>
			<div class="about-company__wrap inner-s box js-box">
				<ul class="about-list">
					<li class="about-list__item">
						<span class="about-list__icon">
							{{ mixins.icon('ok') }}
						</span>
						Мы предлагаем полный спектр услуг от проектирования до получения
						разрешительных документов на рекламу в городе Киев.
					</li>
					<li class="about-list__item">	
						<span class="about-list__icon">
							{{ mixins.icon('ok') }}
						</span>
						Одним из основных направлений деятельности является предоставление
						комплексных услуг по подготовке, оформлению и получению разрешительной
						документации на размещение наружной рекламы, а также согласование
						информационных вывесок для физических лиц-предпринимателей и юридических
						лиц.
					</li>
					<li class="about-list__item">	
						<span class="about-list__icon">
							{{ mixins.icon('ok') }}
						</span>
						С нами сотрудничают такие крупные компании как Альфа Банк, Спортлайф,
						Спортленд, Синево, Адидас, Сеть аптек “Аптека Низких Цен”, автосалон Виннер
						Автомотив, Киевгорстрой и многие другие...
					</li>
					<li class="about-list__item">
						<span class="about-list__icon">
							{{ mixins.icon('ok') }}
						</span>
						Нашей задачей является долгосрочное партнерство и поддержка клиентов на
						всех этапах работы.
					</li>
					<li class="about-list__item">
						<span class="about-list__icon">
							{{ mixins.icon('ok') }}
						</span>	
						Наш девиз: "Мы можем то, что не могут другие!"
					</li>
					<li class="about-list__item">
						<span class="about-list__item-dscpt">Доверьте свой бизнес професионалам!!!</span>
					</li>
				</ul>	
				<span class="box__line box__line_right">
					<span class="box__right-side js-line-box"></span>
				</span>
				<span class="box__line box__line_bottom">
					<span class="box__bottom-side js-line-box"></span>
				</span>	
				<span class="box__line box__line_left">
					<span class="box__left-side js-line-box"></span>
				</span>
				<span class="box__line box__line_top">
					<span class="box__top-side js-line-box"></span>
				</span>
			</div>
		</div>
	</div>
</div>