<div class="wrapper js-start-animation">
	<div id="advantages" class="advantages js-slider-advantages">
		<div class="advantages__inner inner-s">
			<h2 class="advantages__title title-md">
				Наши преимущества
			</h2>
			<div class="advantages__wrap">
				<div class="advantages__row">
					<div class="advantages__text">
						<span class="advantages__text-number">
							1.
						</span>
						<p>
							Поддержка <span>24/7</span> часа в сутки. Если у Вас возникли
							срочные вопросы: демонтируют рекламную
							конструкцию, получили предписание или другое звоните
							несмотря на время суток.
						</p>
					</div>
					<div class="advantages__text">
						<span class="advantages__text-number">
							2.
						</span>
						<p>
							Комфортные условия оплаты
							для клиентов за услуги: <span>70/30</span> и для постоянных клиентов
							возможен вариант <span>0/100</span> в процентном отношении
							(предоплата / конечная оплата).
						</p>
					</div>
					<div class="advantages__text">
						<span class="advantages__text-number">
							3.
						</span>
						<p>
							Опыт в данной области более <span>5 лет</span>. Ежегодно нами
							оформляется более <span>1000</span> разрешений на рекламные
							средства. У нас есть рекомендации от уважаемых
							корпоративных клиентов.
						</p>
					</div>
					<div class="advantages__text">
						<span class="advantages__text-number">
							4.
						</span>
						<p>
							Мы имеем возможность своевременного оформления и
							согласования различных типов рекламных средств
							независимо от их количества.
						</p>
					</div>
				</div>
				<div class="advantages__row advantages__row--mod">
					<div class="counter">
						<div class="counter__wrap">
							<span class="counter__number js-score" data-interval="0,8" data-counter="24">0</span>
							<span class="counter__slash">/</span>
							<span class="counter__number js-score" data-interval="0,8" data-counter="7">0</span>
						</div>
					</div>
					<div class="counter">
						<div class="counter__wrap">
							<span class="pcounter__plus">+</span>
							<span class="counter__number js-score" data-interval="0,8" data-counter="5">0</span>
							<span class="counter__text">лет опыта работы</span>
						</div>
					</div>
					<div class="counter">
						<div class="counter__wrap">
							<span class="counter__plus">+</span>
							<span class="counter__number js-score" data-interval="0,8" data-counter="1000">0</span>
							<span class="counter__text">проектов</span>
						</div>
					</div>
				</div>
			</div>	
			<div class="advantages__slider sliders">
				<div class="sliders__wrap js-init-slider">
					<div class="sliders__slide">
						<img src="img/brends/leroy-merlin.jpg" alt="">
					</div>
					<div class="sliders__slide">
						<img src="img/brends/adidas.jpg" alt="">
					</div>
					<div class="sliders__slide">
						<img src="img/brends/alfa-bank.png" alt="">
					</div>
					<div class="sliders__slide">
						<img src="img/brends/sportlayf.jpg" alt="">
					</div>
					<div class="sliders__slide">
						<img src="img/brends/dominos.jpg" alt="">
					</div>
					<div class="sliders__slide">
						<img src="img/brends/winner.jpg" alt="">
					</div>
					<div class="sliders__slide">
						<img src="img/brends/kiev-misk-bud.png" alt="">
					</div>
					<div class="sliders__slide">
						<img src="img/brends/synevo.png" alt="">
					</div>
					<div class="sliders__slide">
						<img src="img/brends/apteka-nizkih-tsen.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>