<div class="wrapper js-start-animation">
	<div id="contacts" class="contacts">
		<div class="contacts__inner inner-s">
			<h2 class="contacts__title title-md">
				Контакты
			</h2>
			<div class="contacts__wrap">
				<div class="contacts__block">
					<h4 class="contacts__block-title">
						Адрес
					</h4>
					<ul class="contacts__block-list">
						<li class="contacts__block-item">
						<span class="contacts__icon">{{ mixins.icon('marker') }}</span>
						г.Киев ул.Прорезная 23 б, оф. 15, Индекс 01001</li>
					</ul>
				</div>
				<div class="contacts__block">
					<h4 class="contacts__block-title">
						График работы
					</h4>
					<ul class="contacts__block-list">
						<li class="contacts__block-item"><span class="contacts__icon">{{ mixins.icon('calendar') }}</span>Пн-Пт 9:00-18:00</li>
						<li class="contacts__block-item">Сб-Вс Выходной</li>
					</ul>
				</div>
				<div class="contacts__block">
					<h4 class="contacts__block-title">
						Телефон
					</h4>
					<ul class="contacts__block-list">
						<li class="contacts__block-item">
							<a class="contacts__link" href="tel:+38 (067) 341-03-03">
							<span class="contacts__icon">{{ mixins.icon('viber') }}</span>
							+38 (067) 341-03-03</a>
						</li>
						<li class="contacts__block-item">
							<a class="contacts__link" href="tel:(044) 465-62-10">
							<span class="contacts__icon">{{ mixins.icon('telephone') }}</span>
							(044) 465-62-10</a>
						</li>
					</ul>
				</div>
				<div class="contacts__block">
					<h4 class="contacts__block-title">
						Email
					</h4>
					<ul class="contacts__block-list">
						<li class="contacts__block-item">
						<span class="contacts__icon">{{ mixins.icon('mail') }}</span>
						dozvilua@ukr.net</li>
					</ul>
				</div>
			</div>
		</div>
	<!--LiveInternet counter--><script type="text/javascript">
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t29.7;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";h"+escape(document.title.substring(0,150))+";"+Math.random()+
"' alt='' title='LiveInternet: показано количество просмотров и"+
" посетителей' "+
"border='0' width='88' height='120'><\/a>")
</script><!--/LiveInternet-->
	</div>
</div>