<div class="wrapper js-start-animation">
	<div id="recommend" class="recommend js-slider-recommend">
		<div class="recommend__inner inner-s">
			<h2 class="recommend__title title-md">
				Рекомендации
			</h2>
			<div class="recommend__slider slider-recm">
				<div class="slider-recm__wrap js-init-slider">
					<a href="./img/recommendation/sokar.jpg" data-fancybox="gallery-interior" class="slider-recm__slide js-fancybox" >
						<img src="./img/recommendation/sokar.jpg" alt="sokar">
					</a>
					<a href="./img/recommendation/sokar.jpg" data-fancybox="gallery-interior" class="slider-recm__slide js-fancybox" >
						<img src="./img/recommendation/sokar.jpg" alt="sokar">
					</a>
					<a href="./img/recommendation/sokar.jpg" data-fancybox="gallery-interior" class="slider-recm__slide js-fancybox" >
						<img src="./img/recommendation/sokar.jpg" alt="sokar">
					</a>
					<a href="./img/recommendation/sokar.jpg" data-fancybox="gallery-interior" class="slider-recm__slide js-fancybox" >
						<img src="./img/recommendation/sokar.jpg" alt="sokar">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>