<div class="wrapper  js-start-animation bg-image" style="background-image: url(img/services-bg.jpg);">
	<div class="services" id="services">
		<div class="services__inner inner">
			<h2 class="services__title title-md">
				Услуги
			</h2>
			<div class="services__text inner-s">
				<p>
					Компания <span>Dozvil.ua</span> – поможет оформить и получить для
					вашего бизнеса <span>“ПОД КЛЮЧ”</span> Разрешение на наружную
					рекламу.
					В случае необходимости <span>Dozvil.ua</span> разработает проектно-
					техническую документацию (конструктивное решение),
					проведет техническую экспертизу места под рекламу и даст
					рекомендации для размещения конструкции согласно
					правилам принятым в Киеве.
					Предварительная стоимость может быть озвучена по
					телефону : <span>+38 (067) 341-03-03</span> или заказав обратный звонок
					нажав <span>“КНОПКУ СВЯЗИ”</span> бесплатно.
				</p>
			</div>
			<div class="services__wrap js-parents">
				<div class="card js-parent">
					<div class="overlay js-overlay"></div>
					<span class="card__icon">
						{{ mixins.icon('road-ad') }}
					</span>
					<h3 class="card__title">
						Услуга по оформлению и получению разрешения на
						размещение наружной рекламы
					</h3>
					<button type="button" class="card__btn btn js-toggle-popup">
						Подробнее..
					</button>
					<div class="card__popup js-popup-show">
						<button type="button" class="card__close toggle-popup js-close is-active">
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
						</button>
						<h3 class="card__title-popup">
							Услуга по оформлению и получению разрешения на
							размещение наружной рекламы
						</h3>
						<p>
							Для расчета точной стоимости оформления разрешения
							на рекламную конструкцию нам необходимо от Вас
							следующее:
						</p>
						<ul>
							<li>
								Адрес и схема расположения носителя наружной рекламы;
							</li>
							<li>
								Макет с размерами (или просто размеры будущей или
								уже существующей конструкции);
							</li>
							<li>
								Конструктивное решение (чертеж), если таковой
								имеется в наличии (обычно предоставляется компанией,
								которая изготовила рекламную конструкцию), если
								такого чертежа нет, наша компания разработает;
							</li>
							<li>
								Определить, является ли дом, на котором будет размещена
								рекламная конструкция, памятником архитектуры (есть ли на
								нем таблички, которые свидетельствуют об этом, находится
								ли дом на балансе ОСМД, находится ли в коммунальной,
								государственной или частной собственности);
							</li>
							<li>
								Для отдельно стоящих конструкций - детальная
								информация о месте, на котором планируется их
								размещение;
							</li>
							<li>
								Срок предоставления услуги: от 1,5 до 3 месяцев;
							</li>
							<li>
								Срок действия разрешения на рекламу 5 лет;
							</li>	
						</ul>
						<div class="card__btn-block">
							<a href="#consultation" class="card__btn-popup btn-mod js-close">
								Получить консультацию
							</a>
						</div>
					</div>
				</div>
				<div class="card js-parent">
					<div class="overlay js-overlay"></div>
					<span class="card__icon">
						{{ mixins.icon('mail-click') }}
					</span>
					<h3 class="card__title">
						Согласование вывески
					</h3>
					<button type="button" class="card__btn btn js-toggle-popup">
						Подробнее..
					</button>
					<div class="card__popup js-popup-show">
						<button type="button" class="card__close toggle-popup js-close is-active">
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
						</button>
						<h3 class="card__title-popup">
							Согласование вывески
						</h3>
						<p>
							В Киеве действует Порядок размещения вывесок,
							утвержденный распоряжением исполнительного органа
							Киевского городского совета (Киевской городской
							государственной администрации).
						</p>
						<p>
							Порядок является обязательным для выполнения всеми
							предприятиями, учреждениями и организациями, независимо
							от формы собственности и ведомственного подчинения, а
							также физическими лицами, осуществляющими размещение
							информационных вывесок на территории города Киева.
						</p>
						<p>
							Указанным порядком, установлено, что в случае, когда
							площадь информационной вывески превышает 2 м2, она
							считается внешней рекламой и требует получения
							разрешения на размещение наружной рекламы.
						</p>
						<p>
							Для расчета точной стоимости согласования
							информационной вывески нам необходимо знать следующее:
						</p>
						<ul>
							<li>
								Адрес и схема размещения вывески;
							</li>
							<li> 
								Право на интеллектуальную собственность (свидетельство
								на товарный знак или лицензионное соглашение);
							</li>
							<li>
								Право собственности на помещение или договор аренды 
								помещения;
							</li>
							<li> 
								Макет с размерами (или просто размеры будущей или уже существующей вывески);
							</li>
							<li>
								Определить, является ли дом, на котором будет
								размещена вывеска, памятником архитектуры (есть ли на нем
								таблички, которые свидетельствуют об этом, находится ли
								дом на балансе ОСМД, находится ли в коммунальной,
								государственной или частной собственности);
							</li>
							<li>
								Срок оформления: до 2 месяцев;
							</li>
						</ul>
						<div class="card__btn-block">
							<a href="#consultation" class="card__btn-popup btn-mod js-close">
								Получить консультацию
							</a>
						</div>
					</div>
				</div>
				<div class="card js-parent">
					<div class="overlay js-overlay"></div>
					<span class="card__icon">
						{{ mixins.icon('drawing-house-plan') }}
					</span>
					<h3 class="card__title">
						Подготовка необходимых заявлений, макетов и
						эскизов для подачи
					</h3>
					<button type="button" class="card__btn btn js-toggle-popup">
						Подробнее..
					</button>
					<div class="card__popup js-popup-show">
						<button type="button" class="card__close toggle-popup js-close is-active">
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
						</button>
						<h3 class="card__title-popup">
							Подготовка необходимых заявлений, макетов и
							эскизов для подачи
						</h3>
						<p>
							Мы помогаем Вам готовить и заполнять все необходимые
							документы: макеты и фотографии, проект или конструктивное
							решение, заполняем бланк и сообщаем куда нужно обратится
							для подачи документов. При этом Вы сами подаете
							документы и проходите все инстанции самостоятельно.
						</p>
						<p>
							Заполнение заявления является ключевым моментом при
							подаче документации в которой указывается название
							заявителя, вид деятельности, место регистрации и название
							рекламного средства, в соответствии с концепцией города.
							Дополнительно, в случае отсутствия, можем разработать
							макет и эскиз (визуализация) рекламного средства. Для этого
							необходимо предоставить нам фото из будущего места
							расположения рекламного средства либо мы можем сделать
							это самостоятельно.
						</p>
						<p>
							Срок предоставления услуги: до 5 рабочих дней.
						</p>
						<div class="card__btn-block">
							<a href="#consultation" class="card__btn-popup btn-mod js-close">
								Получить консультацию
							</a>
						</div>
					</div>
				</div>
				<div class="card js-parent">
					<div class="overlay js-overlay"></div>
					<span class="card__icon">
						{{ mixins.icon('signing-the-contract') }}
					</span>
					<h3 class="card__title">
						Разработка конструктивного решения
					</h3>
					<button type="button" class="card__btn btn js-toggle-popup">
						Подробнее..
					</button>
					<div class="card__popup js-popup-show">
						<button type="button" class="card__close toggle-popup js-close is-active">
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
						</button>
						<h3 class="card__title-popup">
							Разработка конструктивного решения
						</h3>
						<p>
							У Вас в наличии эскиз и макет рекламного средства, но у вас
							нет конструктивного решения для подачи документов, мы
							составляем техническое задание и выполним для Вас
							проектирования.
						</p>
						<p>
							К разработке конструктивного решения (или проекта)
							необходимо отнестись очень ответственно и внимательно,
							поскольку основной ошибкой при подаче документации
							является не верная разработка конструктива и его
							несоответствие концепции города. Также к ошибкам
							относятся: неверно рассчитанные нагрузки, отсутствие
							необходимых размеров, отсутствие веса конструкции и
							составление спецификации.
						</p>
						<p>
							Обязательным условием для разработки конструктивного
							решения является наличие у инженера-конструктора
							соответствующего сертификата и печати. К конструктивному
							решению прилагается копия сертификата инженера-
							конструктора, заверенного надлежащим образом, печатью и
							подписью разработчика.
						</p>
						<p>
							Срок предоставления услуги: от 3 до 7 дней.
						</p>
						<div class="card__btn-block">
							<a href="#consultation" class="card__btn-popup btn-mod js-close">
								Получить консультацию
							</a>
						</div>
					</div>
				</div>
				<div class="card js-parent">
					<div class="overlay js-overlay"></div>
					<span class="card__icon">
						{{ mixins.icon('calendar') }}
					</span>
					<h3 class="card__title">
						Продление срока действия разрешительных
						документов, внесение изменений в разрешения
					</h3>
					<button type="button" class="card__btn btn js-toggle-popup">
						Подробнее..
					</button>
					<div class="card__popup js-popup-show">
						<button type="button" class="card__close toggle-popup js-close is-active">
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
								<span class="toggle-popup__line"></span>
						</button>
						<h3 class="card__title-popup">
							Продление срока действия разрешительных
							документов, внесение изменений в разрешения
						</h3>
						<p>
							Для продления срока действия разрешительных документов
							на зарегистрированные рекламные средства необходимо
							своевременно подать документы. В случае подачи
							документации позже предусмотренного порядком срока
							разрешение теряет свою силу. В таком случае необходимо
							будет повторно получить разрешение на наружную рекламу.
						</p>
						<p>
							В случае внесения изменений необходимо разработать новое
							конструктивное решение и подать вместе с заявлением
							существующее разрешение на наружную рекламу.
						</p>
						<p>
							Срок продления: от 2 месяцев.
							Срок действия продленного разрешения на рекламу 5 лет.
						</p>
						<p>
							Срок действия после внесения изменений в разрешения до
							окончания периода указанного в данном разрешении.
						</p>
						<div class="card__btn-block">
							<a href="#consultation" class="card__btn-popup btn-mod js-close">
								Получить консультацию
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>