<div class="container">
	<div class="wrapper">
		<section class="about inner">
			<div id="who-we" class="box border_rad">
				<div class="box__col-lef">
					<h3 class="box__title title-sm title-sm-mob mob-show">Who are we?</h3>
					<img class="mob-hide" src="img/layers1.png" alt="layers1">
					<img class="mob-show" src="img/layers1-mob.png" alt="layers1-mob">
				</div>
				<div class="box__col-right">
					<h3 class="box__title title-sm title-sm-mob mob-hide">Who are we?</h3>
					<div class="box__list border_rad">
						<p>
							&quot;Profi Lawyer&quot; is a union of highly professional, experienced lawyers
							of Ukraine. Our goal is your success, which is achieved through our outstanding
							performance.
						</p>
						<p>
							In this section of the site, we could write a lot about honor, dignity,
							justice, how many cases we have won or how many people are grateful
							for our work, but frankly, we do not have time for this, because right
							now we are helping our Clients to win cases!
						</p>
						<p>
							Moliere said: <span>&quot;Speech does not move forward. It is necessary to act, not
							to speak, things are better for a dispute than words. &quot; </span>
						</p>
						<p>
							For the lawyers association &quot;Profi lawyer&quot; it is not just a quote, it is a credo of our work!
						</p>
						<div class="box__btn">
							<a href="#services" class="btn btn-mob">Go to services</a>
						</div>
					</div>
				</div>
			</div>
			<div id="why" class="box border_rad">
				<div class="box__col-lef">
					<h3 class="box__title title-sm title-sm-mob mob-show">Why us?</h3>
					<img class="mob-hide" src="img/layers2.png" alt="layers2">
					<img class="mob-show" src="img/layers2-mob.png" alt="layers2-mob">
				</div>
				<div class="box__col-right">
					<h3 class="box__title title-sm mob-hide">Why us?</h3>
					<div class="box__list border_rad">
						<p>
							When you contact us for legal assistance, you, as our Client, save your
							strength, money and precious time!
						</p>
						<p>
							We analyze each Client’s special case, offering him only effective
							solutions. The evidence of practice shows that no problem can be
							regarded as fatal, and no situation is hopeless, if experienced Advocates
							of Profi Lawyer takes up the case.
						</p>
						<p>
							If you contact us for help - be sure that the problem that we solve won’t
							bother you again.  
						</p>
						<div class="box__btn">
							<a href="#services" class="btn btn-mob">Go to services</a>
						</div>
					</div>
				</div>
			</div>
			<div id="advantage" class="box border_rad">
				<div class="box__col-lef">
					<h3 class="box__title title-sm title-sm-mob mob-show">What is our advantage?</h3>
					<img class="mob-hide" src="img/layers3.png" alt="layers3">
					<img class="mob-show" src="img/layers3-mob.png" alt="layers3-mob">
				</div>
				<div class="box__col-right">
					<h3 class="box__title title-sm mob-hide">What is our advantage?</h3>
					<div class="box__list border_rad">
						<p>
							&quot;Profi Lawyer&quot; unites many practicing lawyers. 
						</p>
						<p>
							We are all very different, with our own attitudes, way of thinking, and vision of how defence should be prepared! That is why, when Client come to us for the
							help, his case is being studied, analyzed and discussed by a team of
							experienced lawyers, and only then, we find the perfect solution. 
						</p>
						<p>
							Outstanding performance of work, combined with a flexible and unique
							approach - this is what helps us to win a case for our Client.
						</p>
						<div class="box__btn">
							<a href="#services" class="btn btn-mob">Go to services</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>