<div class="container">
	<section id="consultation" class="const-on bg-image" style="background-image: url(img/layer3.png);">
		<div class="const-on__inner inner">
			<div class="const-on__wrap inner-s">
				<div class="const-on__row">
					<div class="const-on__col">
						<h3 class="const-on__title title-md">
							Get
						</h3>
						<span class="const-on__description">
							<span class="const-on__description_mod">Free</span>
							Legal Advice
						</span>
						<p>
							You and our lawyer can discuss your problem, find out the options for resolving it, and agree on terms for signing the agreement.
						</p>
					</div>
					<div class="const-on__col width">
						<form class="post-form js-form">
							<div class="post-form__row">
								<div class="post-form__col">
									<input class="post-form__input" type="text" id="name" name="name" minlength="2" required>
									<label class="post-form__label" for="name">Enter your name</label>
								</div>
								<div class="post-form__col">
									<input class="post-form__input" type="text" id="phone" name="phone" minlength="4" required>
									<label class="post-form__label" for="phone" >Enter your phone</label>
								</div>
							</div>
							<div class="success js-success">Message sent successfully!</div>
							<div class="success-error js-success-error">Uops ... Something went wrong..</div>
							<div class="post-form__btn">
								<button type="submit" class="btn-s js-btn-submit" disabled>Send</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>