<div class="container">
	<div class="wrapper">
		<section id="contacts" class="contact inner">
			<div class="contact__wrap border_rad">
				<h2 class="contact__title title-sm_mod title-sm-mob">Contacts</h2>
				<div class="contact__row">
					<div class="contact__col">
						<ul class="address">
							<li class="address__item">
								Lawyers' association „Profi Lawyer“
							</li>
							<li class="address__item">
								<span class="address__icon">{{ mixins.icon('pic') }}</span>
								<span>city of Kiev, 04210,</span>
								<span>street M.Malinovsky 28, the office.5</span>
							</li>
							<li class="address__item">
								<span class="address__icon">{{ mixins.icon('telephone') }}</span>
								<span>+38 (050) 250 99 33</span>
								<span>+38 (093) 250 99 33</span>
								<span>+38 (097) 250 99 33</span>
							</li>
							<li class="address__item">
								<span class="address__icon">{{ mixins.icon('mail') }}</span>
								advocat@profilawyer.com.uа
							</li>
							<li class="address__item">
								<a href="https://www.facebook.com/profilawyer/" class="address__icon">{{ mixins.icon('facebook') }}</a>
								We are in social networks
							</li>
						</ul>
					</div>
					<div class="contact__col mob-hide">
						<h3 class="contact__title-form title-sm_mod">
							Get it
						</h3>
						<span class="contact__description">
							<span class="contact__description_mod">free</span> legal advice
						</span>
						<form class="post-form js-form">
						    <div class="post-form__row">
						        <div class="post-form__col">
						            <input class="post-form__input" type="text" id="name1" name="name" minlength="2" required>
						            <label class="post-form__label" for="name1">Enter your name</label>
						        </div>
						        <div class="post-form__col">
						            <input class="post-form__input" type="text" id="phone1" minlength="4" name="phone" required>
						            <label class="post-form__label" for="phone1">Enter your phone</label>
						        </div>
						    </div>
						    <div class="success js-success">Message sent successfully!</div>
							<div class="success-error js-success-error">Uops ... Something went wrong..</div>
						    <div class="post-form__btn">
						    	<button type="submit" class="btn-s js-btn-submit" disabled>Send</button>
						    </div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>