<div class="container">
	<footer class="footer">
		<div class="footer__inner inner">
			<div class="footer__logo logo">
				<a href="index-en.html" class="logo__link">
					{{ mixins.icon('logo') }}
				</a>
			</div>
			<nav id="menu" class="nav-menu inner-s">
				<ul class="nav-menu__list">
					<li class="nav-menu__item">
						<a href="#who-we" class="nav-menu__link">Who are we</a>
					</li>
					<li class="nav-menu__item">
						<a href="#why" class="nav-menu__link">Why us</a>
					</li>
					<li class="nav-menu__item">
						<a href="#advantage" class="nav-menu__link">Our advantages</a>
					</li>
					<li class="nav-menu__item">
						<a href="#services" class="nav-menu__link">Services</a>
					</li>
					<li class="nav-menu__item">
						<a href="#team" class="nav-menu__link">Team</a>
					</li>
					<li class="nav-menu__item">
						<a href="#contacts" class="nav-menu__link">Contacts</a>
					</li>
				</ul>
			</nav>
			<div class="footer__wrap">
				<div class="footer__text-block">
					<p>
						Association of lawyers of Ukraine „Profi Lawyer“ 
					</p>
					<p>
						2018 All rights reserved
					</p>
				</div>
				<button class="footer__btn btn1 js-go-top" type="button">
					{{ mixins.icon('arrow') }}
				</button>
			</div>
		</div>
	</footer>
</div>