<div class="container">
	<section class="garant bg-image" style="background-image: url(img/layer1.png);">
		<div class="garant__inner inner">
			<h3 class="garant__title title-sm">
				We guarantee
			</h3>
			<div class="garant__wrap inner-s">
				<div class="garant__col">
					<div class="block">
						<div class="block__icon">
							<img src="img/icon1.png" alt="icon1">
						</div>
						<p>
							Favorable and convenient terms of cooperation
						</p>
					</div>
				</div>
				<div class="garant__col">
					<div class="block">
						<div class="block__icon">
							<img src="img/icon2.png" alt="icon2">
						</div>
						<p>
							Efficiency of decision-making
						</p>
					</div>
				</div>
				<div class="garant__col">
					<div class="block">
						<div class="block__icon">
							<img src="img/icon3.png" alt="icon3">
						</div>
						<p>
							24/7 avail
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>