<div class="containner">
	<header class="header">
		<div class="header__inner inner">
			<div class="header__row">
				<div class="header__col">
					<div class="header__logo logo">
						<a href="index-en.html" class="logo__link">
							{{ mixins.icon('logo') }}
						</a>
					</div>
					<ul class="list list-italic mob-hide">
						<li class="list__item">
							<span class="list__icon">{{ mixins.icon('check') }}</span>
							Services for individuals
						</li>
						<li class="list__item">
							<span class="list__icon">{{ mixins.icon('check') }}</span>
							Services for legal entities
						</li>
					</ul>
				</div>
				<div class="header__col">
					<ul class="list mob-hide">
						<li class="list__item">
							<span class="list__icon">{{ mixins.icon('pic') }}</span>
							city of Kiev
						</li>
						<li class="list__item">
							street M.Malinovsky 28, the office.5
						</li>
					</ul>
					<ul class="list">
						<ul class="leng mob-show">
							<li class="leng__item">
								<a class="leng__link" href="index.html">UK</a>
							</li>
							<li class="leng__item">
								<a class="leng__link" href="index-ru.html">RU</a>
							</li>
							<li class="leng__item">
								<a class="leng__link is-active" href="index-en.html">EN</a>
							</li>	
						</ul>
						<li class="list__item">
							<span class="list__icon">{{ mixins.icon('mobile') }}</span>
							<a href="tel:+38 (050) 250 99 33" class="list__link">+38 (050) 250 99 33</a>
						</li>
						<li class="list__item">
							<a href="tel:+38 (093) 250 99 33" class="list__link">+38 (093) 250 99 33</a>
						</li>
						<li class="list__item">
							<a href="tel:+38 (097) 250 99 33" class="list__link">+38 (097) 250 99 33</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
</div>