<div class="container">
	<div class="wrapper">
		<section id="services" class="services inner  js-parent-en">
			<div class="services__title title-sm_mod">Our services</div>
			<div class="services__row js-slide-parents">
				<div class="services__col">
					<img src="img/layer2.jpg" alt="layer2">
					<div class="services__box">
						<img src="img/icon4.png" alt="icon4">
						<h4 class="title-s">
							For individuals 
							<span>
								{{ mixins.icon('arrow') }}
							</span>
						</h4>
						<div class="services__block-btn">
							<button type="button" class="services__box-btn btn btn-mod js-list-btn">
								See list						
							</button>
						</div>
					</div>
				</div>
				<div class="services__col services__col_hide js-parents">
					<ul class="services-list">
						<li>
							<button type="button" class="services-list__btn services-list__btn_mod btn-s js-show-btn">See more</button>
							<button class="close-btn js-close">{{ mixins.icon("close") }}</button>	
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Legal advice: oral, written 	
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Legal implications
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Site audit and consultation by the advocate for the provision of legal
							assistance in criminal, administrative, civil, commercial cases
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Negotiation, preparation of letters / claims 
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Preparation of lawyer&#39;s requests
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Mediation	
						</li>
						<ul class="services-list__hide js-show-block">
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Representation in Commercial Courts: cases in disputes arising from
								the conclusion, modification, termination and execution of economic
								contracts; bankruptcy cases; affairs arising from corporate relations;
								cases in disputes concerning the rights of securities, intellectual property
								protection
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Representation in the courts of General jurisdiction: family, civil,
								residential, land, labor, banking, inheritance, intellectual affairs, as well
								as cases arising out of traffic accidents, appeal of fines 	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Representation in Administrative Courts: tax disputes; pension
								disputes; disputes with the subject of authority regarding the appeal of its
								decisions; disputes regarding the admission of citizens to the public
								service, its passage, dismissal; disputes arising out of the conclusion,
								execution, termination, cancellation or invalidation of invalid
								administrative agreements; cases concerning the appeal of decisions of
								the attestation, competition, medical and social expert commissions;
								disputes with the manager of public information; administrative disputes
								over decisions, actions or inactivity of the subjects of power authorities;
								cases related to the stay of foreigners and stateless persons in the
								territory of Ukraine; cases concerning decisions, actions or inactivity of
								the state executive service
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Representation in the International Commercial Arbitration Court at
								the Chamber of Commerce and Industry of Ukraine
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Representation in the Arbitration Courts
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Protecting the client&#39;s interests as a lawyer in criminal cases: in the
								police, prosecutor&#39;s office, SSU, NABU. Protection of the interests of the
								accused / victim / witness during the investigation; assistance during
								interrogation, eye rates, investigative experiments; visit of the accused in
								the detention center; appeal of the chosen measure of preventive
								measure; preparation of petitions; collection of materials characterizing
								the accused person; protection of interests in court	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Supporting enforcement proceedings	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Legal preparation and analysis of agreements, contracts	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Legal support of agreements on the sale and purchase of movable and
								immovable assets	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Registration, creation of associations of co-owners of multi-apartment
								buildings (ACMHs)
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Registration of LLC, PP, Individual enterpreneurship, preparation of
								all constitutional documents
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Registration of ownership through NCAA, notarial offices,
								recognition of property rights through court	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Supports tax inspections, cancellation of tax decisions and notices of
								the DPI in court and extrajudicial order
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Legal services for foreigners: obtaining a work permit; temporary
								residence permit; permanent residence permit; taxpayer&#39;s account card;
								registration of enterprises with foreign investments; solving the issue of
								deportation (creation); divorce by foreigners of a marriage registered in
								Ukraine 	
							</li>
							<li class="services-list__item services-list__item_mod">
								The list of legal services is not exhaustive, it depends on the specific
								needs of the client
							</li>
						</ul>
					</ul>
				</div>
			</div>
			<div class="services__row js-slide-parents">
				<div class="services__col services__col_hide js-parents">
					<ul class="services-list">
						<li>
							<button type="button" class="services-list__btn services-list__btn_mod btn-s js-show-btn">See more</button>
							<button class="close-btn js-close">{{ mixins.icon("close") }}</button>
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Subscriber service - OUTSOURCING: 	
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Legal advice on providing suggestions on options for solving civil,
							economic, corporate, labor, tax, land, customs, administrative, criminal
							law issues
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Submission of lawyer&#39;s requests (collection of documents for a court)
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Preparation, analysis, correction of civil, commercial contracts and
							agreements
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Legal analysis of the enterprise&#39;s activity (legal audit) 
						</li>
						<ul class="services-list__hide js-show-block">
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Legal provision of labor relations (the development of contracts, labor
								contracts, collective agreements, treaties on material liability)
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Participation of the lawyer of Profi Lawyer JSC in carrying out inspections by the tax authorities, state control bodies and law enforcement agencies, including searches and compulsory penetration into the premises	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Representation of client&#39;s interests in various state structures,
								prosecutor&#39;s office, police, NABU	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Representation of client interests in courts of all jurisdictions
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Preparation of statements of claim, applications for the guarantee of a
								claim, petitions, explanations, references, objections, appeals and
								cassation complaints 	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Support of enforcement proceedings
							</li>
							<li class="services-list__item services-list__item_mod">
								The list of legal services is not exhaustive, it depends on the specific
								needs of the client	
							</li>
						</ul>
					</ul>
				</div>
				<div class="services__col order1">
					<img src="img/layer2.jpg" alt="layer2">
					<div class="services__box">
						<img src="img/icon4.png" alt="icon4">
						<h4 class="title-s">
							For legal entities 
							<span>
								{{ mixins.icon('arrow') }}
							</span>
						</h4>
						<div class="services__block-btn">
							<button type="button" class="services__box-btn btn btn-mod js-list-btn">
								See list						
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>