<div class="container">
	<div class="wrapper">
		<section id="team" class="team">
			<div class="team__inner inner">
				<div class="team__wrap">
					<h2 class="team__title title-sm_mod title-sm-mob">Our Team</h2>
					<div class="team__row">
						<div class="team__col">
							<div class="card-lawyer">
								<div class="card-lawyer__header">
									<img src="img/photo1.jpg" alt="photo1">
								</div>
								<div class="card-lawyer__text">
									<h6 class="card-lawyer__title title-xs">
										Padun Roman Vladimirovich
									</h6>
									<p>
										Practicing lawyer, Candidate of Law, member of the Advocate&#39;s
										Council, managing partner of «Profi lawyer»
									</p>
								</div>
							</div>
							<div class="card-lawyer">
								<div class="card-lawyer__header">
									<img src="img/photo2.jpg" alt="photo2">
								</div>
								<div class="card-lawyer__text">
									<h6 class="card-lawyer__title title-xs">
										Savchenko Katerina Viktorovna
									</h6>
									<p>
										Practicing lawyer, senior partner of «Profi lawyer»
									</p>
								</div>
							</div>
						</div>
						<div class="team__col">
							<div class="card-lawyer">
								<div class="card-lawyer__header">
									<img src="img/photo3.jpg" alt="photo3">
								</div>
								<div class="card-lawyer__text">
									<h6 class="card-lawyer__title title-xs">
										Shevchenko Bogdan Vladimirovich  
									</h6>
									<p>
										Practicing lawyer at «Profi lawyer»
									</p>
								</div>
							</div>
							<div class="card-lawyer">
								<div class="card-lawyer__header">
									<img src="img/photo4.jpg" alt="photo4">
								</div>
								<div class="card-lawyer__text">
									<h6 class="card-lawyer__title title-xs">
										Kovalev Victor Mikhailovich
									</h6>
									<p>
										Practicing lawyer of «Profi lawyer»
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="team__row team__row_mod">
						<div class="team__col">
							<div class="card-lawyer">
								<div class="card-lawyer__header">
									<img src="img/photo5.jpg" alt="photo5">
								</div>
								<div class="card-lawyer__text">
									<h6 class="card-lawyer__title title-xs">
										Tymush Irina Sergeevna
									</h6>
									<p>
										Practicing lawyer of «Profi lawyer», Doctor of Law, Professor 
									</p>
								</div>
							</div>
							<div class="card-lawyer">
								<div class="card-lawyer__header">
									<img src="img/photo6.jpg" alt="photo6">
								</div>
								<div class="card-lawyer__text">
									<h6 class="card-lawyer__title title-xs">
										Litovchenko Aleksey Sergeevich
									</h6>
									<p>
										Practicing lawyer of «Profi lawyer»
									</p>
								</div>
							</div>
						</div>
						<div class="team__col">
							<div class="card-lawyer">
								<div class="card-lawyer__header">
									<img src="img/photo7.jpg" alt="photo7">
								</div>
								<div class="card-lawyer__text">
									<h6 class="card-lawyer__title title-xs">
										Gryshchenko Oleksandr Nikolaevich  
									</h6>
									<p>
										Practicing lawyer of «Profi lawyer»
									</p>
								</div>
							</div>
							<div class="card-lawyer">
								<div class="card-lawyer__header">
									<img src="img/photo8.jpg" alt="photo8">
								</div>
								<div class="card-lawyer__text">
									<h6 class="card-lawyer__title title-xs">
										Samoilenko Artem Vladimirovich
									</h6>
									<p>
										Practicing lawyer of «Profi lawyer»
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>