---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<!-- Start header -->
	{% include "partials/_header.html" %}
	<!-- End header -->
	<!-- Start hero -->
	{% include "partials/_hero.html" %}
	<!-- End hero -->
	<!-- Start diagram -->
	{% include "partials/_diagram.html" %}
	<!-- End diagram -->
	<!-- Start works -->
	{% include "partials/_works.html" %}
	<!-- End works -->
	<!-- Start news -->
	{% include "partials/_news.html" %}
	<!-- End news -->
	<!-- Start question -->
	{% include "partials/_question.html" %}
	<!-- End question -->
	<!-- Start footer -->
	{% include "partials/_footer.html" %}
	<!-- End footer -->
{% endblock %}
