<div class="wrapper">
    <main class="main">
        <div class="main__inner inner">
            <div class="main__img">
                <img src="./img/smart3.png" alt="SmartImg">
            </div>
            <div class="main__wrap js-parents">
                <div class="main__text">
                    <h1 class="main__title title-lg">
                        Prašome pasirinkti dovaną iš mūsų siūlomo sąrašo.
                    </h1>
                    <div class="main__descript">
                        <p>
                            Pasirinktą dovaną atsiūsime tiesiai Jums į namus. Būtinai nurodykite savo adresą ir kontaktinius duomenis.
                            Dovanų kiekis ribotas. Siunčiame tik Lietuvos teritorijoje.
                        </p>
                    </div>
                </div>
                <div class="main__row">
                    <div class="card js-parent">
                        <h3 class="card__title title-m">
                            Kastuvas <span>Fiskars</span>
                        </h3>
                        <div class="slider js-slider-workspace">
                            <div class="slider__wrap js-slider-for">
                                <a href="./img/871205.jpg" 
                                    data-fancybox="gallery-interior1" 
                                    class="slider__slide-for js-fancybox">
                                    <img src="./img/871205.jpg" alt="871205">
                                </a>
                                <a href="./img/51hxfev6scl.jpg" 
                                    data-fancybox="gallery-interior1" 
                                    class="slider__slide-for js-fancybox">
                                    <img src="./img/51hxfev6scl.jpg" alt="51hxfev6scl">
                                </a>
                                <a href="./img/871207.jpg" 
                                    data-fancybox="gallery-interior1" 
                                    class="slider__slide-for js-fancybox">
                                    <img src="./img/871207.jpg" alt="871207">
                                </a>
                                <a href="./img/S150K.jpg" 
                                    data-fancybox="gallery-interior1" 
                                    class="slider__slide-for js-fancybox">
                                    <img src="./img/S150K.jpg" alt="S150K">
                                </a>
                            </div>
                            <div class="slider__nav js-slider-nav">
                                <div class="slider__slides">
                                    <div class="slider__slide-nav">
                                        <img src="./img/871205.jpg" alt="871205">
                                    </div>
                                </div>
                                <div class="slider__slides">
                                    <div class="slider__slide-nav">
                                        <img src="./img/51hxfev6scl.jpg" alt="51hxfev6scl">
                                    </div>
                                </div>
                                <div class="slider__slides">
                                    <div class="slider__slide-nav">
                                        <img src="./img/871207.jpg" alt="871207">
                                    </div>
                                </div>
                                <div class="slider__slides">
                                    <div class="slider__slide-nav">
                                        <img src="./img/S150K.jpg" alt="S150K">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card__text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                            </p>
                        </div>
                        <div class="card__btn">
                            <button type="button" class="btn js-toggle-popup">
                                <span class="btn__box">
                                    <span class="btn__icon">Rinktis dovaną</span>
                                    <span class="btn__details">Rinktis dovaną</span>
                                </span>
                            </button>
                        </div>
                        <div class="overlay js-overlay"></div>
                        <div class="popup js-popup-show">
                            <form action="/" class="popup__wrap">
                                <div class="popup__close">
                                    <button type="button" class="close js-close"></button>
                                </div>
                                <h2 class="popup__title title-lg">
                                    Prašome pasirinkti dovaną iš mūsų
                                </h2>
                                <div class="popup__descript">
                                    <p>
                                        Pasirinktą dovaną atsiūsime tiesiai Jums į namus.
                                    </p>
                                </div>
                                <div class="popup__row">
                                    <div class="popup__col">
                                        <h3 class="popup__col-title title-m">
                                            Kastuvas <span>Fiskars</span>
                                        </h3>
                                        <div class="popup__col-img">
                                        <img src="./img/871205.jpg" alt="img"></div>
                                    </div>
                                    <div class="popup__col">
                                        <ul class="form">
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Jmones pavadinimas *" required>
                                            </li>
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Pareigos *" required>
                                            </li>
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Vardas, Pavarde" required>
                                            </li>
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Pristatymo adresas *" required>
                                            </li>
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Pasto kodas" required>
                                            </li>
                                            <li class="form__row">
                                                <input type="tel" class="form__input" value="" min="3" placeholder="Kontactinis telefonas *" required>
                                            </li>
                                            <li class="form__row form__row--mod">
                                                * - butina uspilduti
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="popup__btn">
                                    <button type="button" class="btn">
                                        <span class="btn__box">
                                            <span class="btn__icon">Tvirtinti</span>
                                            <span class="btn__details">Tvirtinti</span>
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card js-parent">
                        <h3 class="card__title title-m">
                            Lagaminas <span>Samsonite</span>
                        </h3>
                        <div class="slider js-slider-workspace">
                            <div class="slider__wrap js-slider-for">
                                <a href="./img/bag.jpg" 
                                    data-fancybox="gallery-interior2" 
                                    class="slider__slide-for js-fancybox">
                                    <img src="./img/bag.jpg" alt="bag">
                                </a>
                                <a href="./img/bag2.jpg" 
                                    data-fancybox="gallery-interior2" 
                                    class="slider__slide-for js-fancybox">
                                    <img src="./img/bag2.jpg" alt="bag2">
                                </a>
                                <a href="./img/bag.jpg" 
                                    data-fancybox="gallery-interior2" 
                                    class="slider__slide-for js-fancybox">
                                    <img src="./img/bag.jpg" alt="bag">
                                </a>
                                <a href="./img/bag2.jpg" 
                                data-fancybox="gallery-interior2" 
                                class="slider__slide-for js-fancybox">
                                    <img src="./img/bag2.jpg" alt="bag2">
                                </a>
                            </div>
                            <div class="slider__nav js-slider-nav">
                                <div class="slider__slides">
                                    <div class="slider__slide-nav">
                                        <img src="./img/bag2.jpg" alt="bag2">
                                    </div>
                                </div>
                                <div class="slider__slides">
                                    <div class="slider__slide-nav">
                                        <img src="./img/bag.jpg" alt="bag">
                                    </div>
                                </div>
                                <div class="slider__slides">
                                    <div class="slider__slide-nav">
                                        <img src="./img/bag2.jpg" alt="bag2">
                                    </div>
                                </div>
                                <div class="slider__slides">
                                    <div class="slider__slide-nav">
                                        <img src="./img/bag.jpg" alt="bag">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card__text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                            </p>
                        </div>
                        <div class="card__btn">
                            <button type="button" class="btn js-toggle-popup">
                                <span class="btn__box">
                                   <span class="btn__icon">Rinktis dovaną</span>
                                    <span class="btn__details">Rinktis dovaną</span>
                                </span>
                            </button>
                        </div>
                        <div class="overlay js-overlay"></div>
                        <div class="popup js-popup-show">
                            <form action="/" class="popup__wrap">
                                <div class="popup__close">
                                    <button type="button" class="close js-close"></button>
                                </div>
                                <h2 class="popup__title title-lg">
                                    Prašome pasirinkti dovaną iš mūsų
                                </h2>
                                <div class="popup__descript">
                                    <p>
                                        Pasirinktą dovaną atsiūsime tiesiai Jums į namus.
                                    </p>
                                </div>
                                <div class="popup__row">
                                    <div class="popup__col">
                                        <h3 class="popup__col-title title-m">
                                            Kastuvas <span>Fiskars</span>
                                        </h3>
                                        <div class="popup__col-img">
                                            <img src="./img/bag.jpg" alt="bag">
                                        </div>
                                    </div>
                                    <div class="popup__col">
                                        <ul class="form">
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Jmones pavadinimas *"
                                                    required>
                                            </li>
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Pareigos *" required>
                                            </li>
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Vardas, Pavarde" required>
                                            </li>
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Pristatymo adresas *"
                                                    required>
                                            </li>
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Pasto kodas" required>
                                            </li>
                                            <li class="form__row">
                                                <input type="tel" class="form__input" value="" min="3" placeholder="Kontactinis telefonas *"
                                                    required>
                                            </li>
                                            <li class="form__row form__row--mod">
                                                * - butina uspilduti
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="popup__btn">
                                    <button type="button" class="btn">
                                        <span class="btn__box">
                                            <span class="btn__icon">Tvirtinti</span>
                                            <span class="btn__details">Tvirtinti</span>
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="main__row">
                    <div class="card js-parent">
                        <h3 class="card__title title-m">
                            Kastuvas <span>Fiskars</span>
                        </h3>
                        <div class="slider js-slider-workspace">
                            <div class="slider__wrap js-slider-for">
                                <a href="./img/1655_pb1.jpg" 
                                    data-fancybox="gallery-interior3" 
                                    class="slider__slide-for js-fancybox"
                                    style="background-image: url(./img/1655_pb1.jpg);">
                                    <img src="./img/1655_pb1.jpg" alt="1655_pb1">
                                </a>
                                <a href="./img/3054_im1_3.jpg" 
                                    data-fancybox="gallery-interior3" 
                                    class="slider__slide-for js-fancybox">
                                    <img src="./img/3054_im1_3.jpg" alt="3054_im1_3">
                                </a>
                                <a href="./img/1655_im1.jpg" 
                                    data-fancybox="gallery-interior3" 
                                    class="slider__slide-for js-fancybox">
                                    <img src="./img/1655_im1.jpg" alt="1655_im1">
                                </a>
                                <a href="./img/1655.jpg" 
                                    data-fancybox="gallery-interior3" 
                                    class="slider__slide-for js-fancybox">
                                    <img src="./img/1655.jpg" alt="1655">
                                </a>
                            </div>
                            <div class="slider__nav js-slider-nav">
                                <div class="slider__slides">
                                    <div class="slider__slide-nav">
                                        <img src="./img/1655_pb1.jpg" alt="1655_pb1">
                                    </div>
                                </div>
                                <div class="slider__slides">
                                    <div class="slider__slide-nav">
                                        <img src="./img/3054_im1_3.jpg" alt="3054_im1_3">
                                    </div>
                                </div>
                                <div class="slider__slides">
                                    <div class="slider__slide-nav">
                                        <img src="./img/1655_im1.jpg" alt="1655_im1">
                                    </div>
                                </div>
                                <div class="slider__slides">
                                    <div class="slider__slide-nav">
                                        <img src="./img/1655.jpg" alt="1655">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card__text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                            </p>
                        </div>
                        <div class="card__btn">
                            <button type="button" class="btn js-toggle-popup">
                                <span class="btn__box">
                                   <span class="btn__icon">Rinktis dovaną</span>
                                    <span class="btn__details">Rinktis dovaną</span>
                                </span>
                            </button>
                        </div>
                        <div class="overlay js-overlay"></div>
                        <div class="popup js-popup-show">
                            <form action="/" class="popup__wrap">
                                <div class="popup__close">
                                    <button type="button" class="close js-close"></button>
                                </div>
                                <h2 class="popup__title title-lg">
                                    Prašome pasirinkti dovaną iš mūsų
                                </h2>
                                <div class="popup__descript">
                                    <p>
                                        Pasirinktą dovaną atsiūsime tiesiai Jums į namus.
                                    </p>
                                </div>
                                <div class="popup__row">
                                    <div class="popup__col">
                                        <h3 class="popup__col-title title-m">
                                            Kastuvas <span>Fiskars</span>
                                        </h3>
                                        <div class="popup__col-img">
                                            <img src="./img/1655_pb1.jpg" alt="img">
                                        </div>
                                    </div>
                                    <div class="popup__col">
                                        <ul class="form">
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Jmones pavadinimas *"
                                                    required>
                                            </li>
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Pareigos *" required>
                                            </li>
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Vardas, Pavarde" required>
                                            </li>
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Pristatymo adresas *"
                                                    required>
                                            </li>
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Pasto kodas" required>
                                            </li>
                                            <li class="form__row">
                                                <input type="tel" class="form__input" value="" min="3" placeholder="Kontactinis telefonas *"
                                                    required>
                                            </li>
                                            <li class="form__row form__row--mod">
                                                * - butina uspilduti
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="popup__btn">
                                    <button type="button" class="btn">
                                        <span class="btn__box">
                                            <span class="btn__icon">Tvirtinti</span>
                                            <span class="btn__details">Tvirtinti</span>
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card js-parent">
                        <h3 class="card__title title-m">
                            Lagaminas <span>Samsonite</span>
                        </h3>
                        <div class="slider js-slider-workspace">
                            <div class="slider__wrap js-slider-for">
                                <a href="./img/hayden.jpg" 
                                    data-fancybox="gallery-interior4" 
                                    class="slider__slide-for js-fancybox">
                                    <img src="./img/hayden.jpg" alt="hayden">
                                </a>
                                <a href="./img/VI-4108-2.jpg" 
                                    data-fancybox="gallery-interior4" 
                                    class="slider__slide-for js-fancybox">
                                    <img src="./img/VI-4108-2.jpg" alt="VI-4108-2">
                                </a>
                                <a href="./img/VI-4108-3.jpg" 
                                    data-fancybox="gallery-interior4" 
                                    class="slider__slide-for js-fancybox">
                                    <img src="./img/VI-4108-3.jpg" alt="VI-4108-3">
                                </a>
                                <a href="./img/4103_4108.jpg" 
                                    data-fancybox="gallery-interior4" 
                                    class="slider__slide-for js-fancybox">
                                    <img src="./img/4103_4108.jpg" alt="4103_4108">
                                </a>
                            </div>
                            <div class="slider__nav js-slider-nav">
                                <div class="slider__slides">
                                    <div class="slider__slide-nav">
                                        <img src="./img/hayden.jpg" alt="hayden">
                                    </div>
                                </div>
                                <div class="slider__slides">
                                    <div class="slider__slide-nav">
                                        <img src="./img/VI-4108-2.jpg" alt="VI-4108-2">
                                    </div>
                                </div>
                                <div class="slider__slides">
                                    <div class="slider__slide-nav">
                                        <img src="./img/VI-4108-3.jpg" alt="VI-4108-3">
                                    </div>
                                </div>
                                <div class="slider__slides">
                                    <div class="slider__slide-nav">
                                        <img src="./img/4103_4108.jpg" alt="4103_4108">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card__text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                            </p>
                        </div>
                        <div class="card__btn">
                            <button type="button" class="btn js-toggle-popup">
                                <span class="btn__box">
                                   <span class="btn__icon">Rinktis dovaną</span>
                                    <span class="btn__details">Rinktis dovaną</span>
                                </span>
                            </button>
                        </div>
                        <div class="overlay js-overlay"></div>
                        <div class="popup js-popup-show">
                            <form action="/" class="popup__wrap">
                                <div class="popup__close">
                                    <button type="button" class="close js-close"></button>
                                </div>
                                <h2 class="popup__title title-lg">
                                    Prašome pasirinkti dovaną iš mūsų
                                </h2>
                                <div class="popup__descript">
                                    <p>
                                        Pasirinktą dovaną atsiūsime tiesiai Jums į namus.
                                    </p>
                                </div>
                                <div class="popup__row">
                                    <div class="popup__col">
                                        <h3 class="popup__col-title title-m">
                                            Kastuvas <span>Fiskars</span>
                                        </h3>
                                        <div class="popup__col-img">
                                            <img src="./img/hayden.jpg" alt="img">
                                        </div>
                                    </div>
                                    <div class="popup__col">
                                        <ul class="form">
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Jmones pavadinimas *"
                                                    required>
                                            </li>
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Pareigos *" required>
                                            </li>
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Vardas, Pavarde" required>
                                            </li>
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Pristatymo adresas *"
                                                    required>
                                            </li>
                                            <li class="form__row">
                                                <input type="text" class="form__input" value="" min="3" placeholder="Pasto kodas" required>
                                            </li>
                                            <li class="form__row">
                                                <input type="tel" class="form__input" value="" min="3" placeholder="Kontactinis telefonas *"
                                                    required>
                                            </li>
                                            <li class="form__row form__row--mod">
                                                * - butina uspilduti
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="popup__btn">
                                    <button type="button" class="btn">
                                        <span class="btn__box">
                                            <span class="btn__icon">Tvirtinti</span>
                                            <span class="btn__details">Tvirtinti</span>
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>