<section class="feedback">
    <div class="feedback__inner inner">
        <div class="window">
            <h3 class="window__title title-lg">
                Jus jau uzsisakete dovana
            </h3>
            <p>
                Lorem ipsum dolor.
            </p>
            <div class="feedback__btn">
                <button type="button" class="btn">
                    <span class="btn__box">
                        <span class="btn__icon">Tvirtinti</span>
                        <span class="btn__details">Tvirtinti</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>