<!-- Start admin -->
            <div class="admin">
                <a href="#" class="login">
                   <span class="login__icon">
                       <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44.125" viewBox="0 0 44 44.125">
                            <defs>
                                <style>
                                    .cls-9 {
                                        fill: #2f2f2f;
                                        fill-rule: evenodd;
                                    }
                                </style>
                            </defs>
                            <path class="cls-9" d="M1265,44.606a9.336,9.336,0,0,0-9.31,9.337,13.394,13.394,0,0,0,2.63,7.585c1.86,2.546,4.23,3.948,6.68,3.948s4.82-1.4,6.68-3.948a13.394,13.394,0,0,0,2.63-7.585,9.336,9.336,0,0,0-9.31-9.337h0Zm0,18.879c-1.77,0-3.62-1.142-5.08-3.134a11.556,11.556,0,0,1-2.24-6.407,7.32,7.32,0,1,1,14.64,0c0,4.206-3.44,9.542-7.32,9.542h0Zm0,0M1265,38a22.069,22.069,0,1,0,22,22.069A22.06,22.06,0,0,0,1265,38h0Zm0,42.148a19.86,19.86,0,0,1-10.82-3.192,10.867,10.867,0,0,1,3.82-7.89,2.868,2.868,0,0,1,3.36-.214,6.7,6.7,0,0,0,7.28,0,2.86,2.86,0,0,1,3.35.207,10.848,10.848,0,0,1,3.83,7.9A19.864,19.864,0,0,1,1265,80.147h0Zm12.69-4.561a12.884,12.884,0,0,0-4.41-8.048,4.852,4.852,0,0,0-5.67-.39,4.741,4.741,0,0,1-5.22,0,4.855,4.855,0,0,0-5.68.4,12.866,12.866,0,0,0-4.4,8.038,20.019,20.019,0,1,1,25.38,0h0Zm0,0"
                                transform="translate(-1243 -38)" />
                        </svg>
                   </span>
                   <span class="login__text">
                        Login
                   </span>
                </a>
                <a href="#" class="basket">
                   <span class="basket__icon">
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 22.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 46 46" style="enable-background:new 0 0 46 46;" xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill: transparent;
                                stroke: #2F2F2F;
                                stroke-width: 2;
                            }
                        </style>
                        <g>
                            <circle id="Эллипс_16" class="st0" cx="23" cy="23" r="22" />
                            <path id="Прямоугольник_скругл._углы_1_копия" class="st0" d="M19.4,7.5h7.1c2.8,0,5,2.2,5,5v8.2
                    		c0,2.8-2.2,5-5,5h-7.1c-2.8,0-5-2.2-5-5v-8.2C14.4,9.7,16.7,7.5,19.4,7.5z" />
                            <path id="Фигура_3_копия_7" class="st0" d="M28.9,37.7H17.1c-2.6,0-4.8-1.6-5.6-4.1L8.3,23.4c-0.6-1.8-0.2-3.7,0.9-5.2
                    		c1.1-1.5,2.9-2.4,4.8-2.4h18.2c1.9,0,3.6,0.9,4.8,2.4c1.1,1.5,1.4,3.4,0.9,5.2l-3.2,10.2C33.7,36,31.4,37.7,28.9,37.7L28.9,37.7z" />
                        </g>
                    </svg>
                   </span>
                   <span class="basket__text">
                        My Bag
                   </span>
                   <span class="basket__quantity">
                        1
                   </span>
                </a>
            </div>
            <!-- End admin -->