<nav class="nav">
    <div class="nav__toggle">
        <button class="toggle js-toggle" type="button">
            <span class="toggle__line"></span>
            <span class="toggle__line"></span>
            <span class="toggle__line"></span>
            <span class="toggle__line"></span>
            <span class="toggle__line"></span>
            <span class="toggle__line"></span>
        </button>
    </div>
    <div class="nav__wrap">
        <ul class="menu js-hide-block">
            <li class="menu__item">
                <a href="#" class="menu__link">Articles</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Our Jobs</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Deals</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Fresh News</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Portfolio</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Contact</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Our Shop</a>
            </li>
            <li class="menu__item menu__item--mod">
                <a href="#" class="menu__link">Sale</a>
                <div class="font-size">
                    <button 
                        class="font-size__btn font-size__btn--first btn js-active is-active" 
                        type="button">
                        A
                    </button>
                    <button 
                        class="font-size__btn font-size__btn--second btn js-active" 
                        type="button">
                        A
                    </button>
                    <button 
                        class="font-size__btn font-size__btn--third btn js-active" 
                        type="button">
                        A
                    </button>
                </div>
            </li>
        </ul>
    </div>
</nav>