<form class="search" action="/">
    <div class="search__row">
        <input class="search__input" type="text" name="search" placeholder="Type in to Search...">
        <button class="search__btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
                <defs>
                    <style>
                        .cls-8 {
                            fill: #fff;
                            fill-rule: evenodd;
                        }
                    </style>
                </defs>
                <path id="glass" class="cls-8" d="M1004.71,76.3l-2.68-2.68A5.324,5.324,0,0,0,1003,70.5a5.564,5.564,0,0,0-.43-2.137,5.5,5.5,0,0,0-7.207-2.93,5.39,5.39,0,0,0-2.929,2.93,5.488,5.488,0,0,0,0,4.273,5.392,5.392,0,0,0,2.929,2.931,5.5,5.5,0,0,0,5.257-.536l2.68,2.673a0.913,0.913,0,0,0,.7.3,1,1,0,0,0,.71-1.7h0Zm-4.738-3.325A3.488,3.488,0,1,1,1001,70.5a3.368,3.368,0,0,1-1.028,2.472h0Zm0,0"
                    transform="translate(-992 -65)" />
            </svg>
        </button>
    </div>
</form>