<div class="container">
	<div class="wrapper">
		<section id="contacts" class="contact inner">
			<div class="contact__wrap border_rad">
				<h2 class="contact__title title-sm_mod title-sm-mob">Контакти</h2>
				<div class="contact__row">
					<div class="contact__col">
						<ul class="address">
							<li class="address__item">
								Адвокатське об‘єднання „Profi Lawyer“
							</li>
							<li class="address__item">
								<span class="address__icon">{{ mixins.icon('pic') }}</span>
								<span>м. Київ, 04210,</span>
								<span>вул. Маршала Малиновського 28, оф.5</span>
							</li>
							<li class="address__item">
								<span class="address__icon">{{ mixins.icon('telephone') }}</span>
								<span>+38 (050) 250 99 33</span>
								<span>+38 (093) 250 99 33</span>
								<span>+38 (097) 250 99 33</span>
							</li>
							<li class="address__item">
								<span class="address__icon">{{ mixins.icon('mail') }}</span>
								advocat@profilawyer.com.uа
							</li>
							<li class="address__item">
								<a href="https://www.facebook.com/profilawyer/" class="address__icon">{{ mixins.icon('facebook') }}</a>
								Ми в соціальних мережах
							</li>
						</ul>
					</div>
					<div class="contact__col mob-hide">
						<h3 class="contact__title-form title-sm_mod">
							Отримайте
						</h3>
						<span class="contact__description">
							<span class="contact__description_mod">безкоштовну</span> юридичну консультацію
						</span>
						<form class="post-form js-form">
						    <div class="post-form__row">
						        <div class="post-form__col">
						            <input class="post-form__input" type="text" id="name3" name="name" minlength="2" required>
						            <label class="post-form__label" for="name3">Введіть Ваше ім‘я</label>
						        </div>
						        <div class="post-form__col">
						            <input class="post-form__input" type="text" id="phone3" name="phone" minlength="4" required>
						            <label class="post-form__label" for="phone3">Введіть Ваш телефон</label>
						        </div>
						    </div>
						    <div class="success js-success">Сообщение успешно отправлено!</div>
							<div class="success-error js-success-error">Уупс.. Что-то пошло не так</div>
						    <div class="post-form__btn">
						    	<button type="submit" class="btn-s js-btn-submit" disabled>Відправити</button>
						    </div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>