<div class="container">
	<section id="consultation" class="const-on bg-image" style="background-image: url(img/layer3.png);">
		<div class="const-on__inner inner">
			<div class="const-on__wrap inner-s">
				<div class="const-on__row">
					<div class="const-on__col">
						<h3 class="const-on__title title-md">
							Отримайте
						</h3>
						<span class="const-on__description">
							<span class="const-on__description_mod">Безкоштовну</span> юридичну консультацію
						</span>
						<p>
							Ви з нашим адвокатом можете обговорити Вашу проблему, з‘ясувати варіанти її вирішення та узгодити умови підписання договору
						</p>
					</div>
					<div class="const-on__col width">
						<form class="post-form js-form">
							<div class="post-form__row">
								<div class="post-form__col">
									<input class="post-form__input" type="text" id="name" name="name" minlength="2" required>
									<label class="post-form__label" for="name">Введіть Ваше ім‘я</label>
								</div>
								<div class="post-form__col">
									<input class="post-form__input" type="text" id="phone" name="phone" minlength="4" required>
									<label class="post-form__label" for="phone" >Введіть Ваш телефон</label>
								</div>
							</div>
							<div class="success js-success">Повідомлення успішно відправлено!</div>
							<div class="success-error js-success-error">Уупс.. Щось пішло не так</div>
							<div class="post-form__btn">
								<button type="submit" class="btn-s js-btn-submit" disabled>Відправити</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>