<div class="container">
	<footer class="footer">
		<div class="footer__inner inner">
			<div class="footer__logo logo">
				<a href="index.html" class="logo__link">
					{{ mixins.icon('logo') }}
				</a>
			</div>
			<nav id="menu" class="nav-menu inner-s">
				<ul class="nav-menu__list">
					<li class="nav-menu__item">
						<a href="#who-we" class="nav-menu__link">Хто ми</a>
					</li>
					<li class="nav-menu__item">
						<a href="#why" class="nav-menu__link">Чому ми</a>
					</li>
					<li class="nav-menu__item">
						<a href="#advantage" class="nav-menu__link">Наші переваги</a>
					</li>
					<li class="nav-menu__item">
						<a href="#services" class="nav-menu__link">Послуги</a>
					</li>
					<li class="nav-menu__item">
						<a href="#team" class="nav-menu__link">Команда</a>
					</li>
					<li class="nav-menu__item">
						<a href="#contacts" class="nav-menu__link">Контакти</a>
					</li>
				</ul>
			</nav>
			<div class="footer__wrap">
				<div class="footer__text-block">
					<p>
						Об‘єднання адвокатів України „Profi Lawyer“ 
					</p>
					<p>
						2018 Всі права захищено
					</p>
				</div>
				<button class="footer__btn btn1 js-go-top" type="button">
					{{ mixins.icon('arrow') }}
				</button>
			</div>
		</div>
	</footer>
</div>