<div class="container">
	<div class="wrapper">
		<section id="services" class="services inner  js-parent-uk">
			<h2 class="services__title title-sm_mod title-sm-mob">
				Наші послуги
			</h2>
			<div class="services__row js-slide-parents">
				<div class="services__col">
					<img src="img/layer2.jpg" alt="layer2">
					<div class="services__box">
						<img src="img/icon4.png" alt="icon4">
						<h4 class="title-s">
							Для фізичних осіб 
							<span>
								{{ mixins.icon('arrow') }}
							</span>
						</h4>
						<div class="services__block-btn">
							<button type="button" class="services__box-btn btn btn-mod js-list-btn">
								До списку						
							</button>
						</div>
					</div>
				</div>
				<div class="services__col services__col_hide js-parents">
					<ul class="services-list">
						<li>
							<button type="button" class="services-list__btn services-list__btn_mod btn-s js-show-btn">Дивитись більше</button>
							<button class="close-btn js-close">{{ mixins.icon("close") }}</button>
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Юридичні консультації: усні, письмові 	
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Юридичні висновки
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Здійснення адвокатом виїзду для надання юридичної допомоги в кримінальних, адміністративних, цивільних, господарських справах
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Проведення переговорів, підготування листів/претензій 
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Підготовка адвокатських запитів
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Медіація	
						</li>
						<ul class="services-list__hide js-show-block">
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Представництво в Господарських судах: справи у спорах, що виникають при укладанні, зміні, розірванні і виконанні господарських договорів; справи про банкрутство; справи, що виникають з корпоративних відносин; справи у спорах щодо обліку прав на цінні папери, захист інтелектуальної власності
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Представництво в судах Загальної юрисдикції: сімейні, цивільні, житлові, земельні, трудові, банківські, спадкові, інтелектуальні справи, а також справи, що виникають з дорожньо-транспортних пригод, оскарження штрафів 	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Представництво в Адміністративних судах: податкові спори; пенсійні спори; спори із суб’єктом владних повноважень щодо оскарження його рішень; спори з приводу прийняття громадян на публічну службу, її проходження, звільнення; спори, що виникають з приводу укладання, виконання, припинення, скасування чи визнання нечинними адміністративних договорів; справи щодо оскарження рішень атестаційних, конкурсних, медико-соціальних експертних комісій; спори із розпорядником публічної інформації; адміністративні спори з приводу рішень, дій чи бездіяльності суб’єктів владних повноважень; справи, пов’язані з перебуванням іноземців та осіб без громадянства на території України; справи з приводу рішень, дій чи бездіяльності державної виконавчої служби
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Представництво в Міжнародному комерційному арбітражному суді при Торгово-промисловій палаті України	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Представництво в Третейських судах	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Захист адвокатом інтересів клієнта в кримінальних справах: в поліції, прокуратурі, СБУ, НАБУ. Захист інтересів обвинуваченого/потерпілого/свідка в ході слідства; допомога в ході проведення допитів, очних ставок, слідчих експериментів; відвідування обвинуваченого в слідчому ізоляторі; оскарження обраної міри запобіжного заходу;  підготовка клопотань; збір матеріалів, що характеризує особу обвинуваченого; захист інтересів в суді	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Супроводження виконавчого провадження	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Юридична підготовка та аналіз угод, договорів, контрактів	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Юридичне супроводження угод щодо купівлі-продажу нерухомого та рухомого майна	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Реєстрація, створення об’єднань співвласників багатоквартирних будинків (ОСББ)	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Реєстрація ТОВ, ПП, ФОП, підготовка всіх установчих документів
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Реєстрація права власності через ЦНАП, нотаріальні контори, визнання права власності через суд	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Супроводження податкових перевірок, скасування податкових рішень та повідомлень ДПІ в судовому та позасудовому порядку	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Юридичні послуги для іноземців: отримання дозволу на працевлаштування; посвідки на тимчасове проживання; посвідки на постійне проживання; облікової картки платника податків; реєстрація підприємств з іноземними інвестиціями; вирішення питання депортації (витворення); розірвання іноземцями шлюбу зареєстрованого в Україні 	
							</li>
							<li class="services-list__item services-list__item_mod">
								Перелік юридичних послуг не є вичерпним, оскільки залежить від індивідуальних потреб клієнта
							</li>
						</ul>
					</ul>
				</div>
			</div>
			<div class="services__row js-slide-parents">
				<div class="services__col services__col_hide js-parents">
					<ul class="services-list">
						<li>
							<button type="button" class="services-list__btn services-list__btn_mod btn-s js-show-btn">Дивитись більше</button>
							<button class="close-btn js-close">{{ mixins.icon("close") }}</button>
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Абонентське обслуговування – АУТСОРСІНГ: 	
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Юридичне консультування з наданням пропозицій щодо варіантів вирішення питань з цивільного, господарського, корпоративного, трудового, податкового, земельного, митного, адміністративного, кримінального права
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Подання адвокатських запитів (збір документів для суду)
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Підготовка, аналіз, корегування цивільних, господарських договорів та контрактів 
						</li>
						<li class="services-list__item">
							<span class="services-list__icon">{{ mixins.icon('check') }}</span>
							Юридичний аналіз діяльності підприємства 
						</li>
						<ul class="services-list__hide js-show-block">
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Правове забезпечення трудових відносин (розроблення контрактів, трудових договорів, колективних договорів, договорів про матеріальну відповідальність)	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Участь адвоката АО «Profi Lawyer»  при проведенні перевірок податковою, органами державного контролю та правоохоронними органами, в тому числі обшуках та примусових проникненнях в приміщення 	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Представництво інтересів клієнта в різних державних структурах, прокуратурі, поліції, НАБУ	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Представництво інтересів клієнта в судах всіх юрисдикцій
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Підготовка позовних заяв, заяв про забезпечення позову, клопотань, пояснень, відзивів, заперечень, апеляційних та касаційних скарг 	
							</li>
							<li class="services-list__item">
								<span class="services-list__icon">{{ mixins.icon('check') }}</span>
								Супроводження виконавчого провадження
							</li>
							<li class="services-list__item services-list__item_mod">
								Перелік юридичних послуг не є вичерпним, оскільки залежить від індивідуальних потреб клієнта	
							</li>
						</ul>
					</ul>
				</div>
				<div class="services__col order1">
					<img src="img/layer2.jpg" alt="layer2">
					<div class="services__box">
						<img src="img/icon5.png" alt="icon4">
						<h4 class="title-s">
							<span class="rotate">
								{{ mixins.icon('arrow') }}
							</span>
							Для юридичних осіб
						</h4>
						<div class="services__block-btn">
							<button type="button" class="services__box-btn btn btn-mod js-list-btn">
								До списку						
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>