<div class="container">
	<div class="wrapper">
		<section id="team" class="team">
			<div class="team__inner inner">
				<div class="team__wrap">
					<h2 class="team__title title-sm_mod title-sm-mob">Наша Команда</h2>
					<div class="team__row">
						<div class="team__col">
							<div class="card-lawyer">
								<div class="card-lawyer__header">
									<img src="img/photo1.jpg" alt="photo1">
								</div>
								<div class="card-lawyer__text">
									<h6 class="card-lawyer__title title-xs">
										Падун Роман Володимирович
									</h6>
									<p>
										Практикуючий адвокат, кандидат юридичних наук, член Ради адвокатів, керуючий партнер АО «Profi Lawyer”
									</p>
								</div>
							</div>
							<div class="card-lawyer">
								<div class="card-lawyer__header">
									<img src="img/photo2.jpg" alt="photo2">
								</div>
								<div class="card-lawyer__text">
									<h6 class="card-lawyer__title title-xs">
										Савченко Катерина Вікторівна
									</h6>
									<p>
										Практикуючий адвокат, старший партнер АО «Profi Lawyer”
									</p>
								</div>
							</div>
						</div>
						<div class="team__col">
							<div class="card-lawyer">
								<div class="card-lawyer__header">
									<img src="img/photo3.jpg" alt="photo3">
								</div>
								<div class="card-lawyer__text">
									<h6 class="card-lawyer__title title-xs">
										Шевченко Богдан Володимирович  
									</h6>
									<p>
										Практикуючий адвокат АО «Profi Lawyer»
									</p>
								</div>
							</div>
							<div class="card-lawyer">
								<div class="card-lawyer__header">
									<img src="img/photo4.jpg" alt="photo4">
								</div>
								<div class="card-lawyer__text">
									<h6 class="card-lawyer__title title-xs">
										Ковальов Віктор Михайлович
									</h6>
									<p>
										Практикуючий адвокат АО «Profi Lawyer»
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="team__row team__row_mod">
						<div class="team__col">
							<div class="card-lawyer">
								<div class="card-lawyer__header">
									<img src="img/photo5.jpg" alt="photo5">
								</div>
								<div class="card-lawyer__text">
									<h6 class="card-lawyer__title title-xs">
										Тимуш Ірина Сергіївна
									</h6>
									<p>
										Практикуючий адвокат АО «Profi lawyer», доктор юридичних наук, професор 
									</p>
								</div>
							</div>
							<div class="card-lawyer">
								<div class="card-lawyer__header">
									<img src="img/photo6.jpg" alt="photo6">
								</div>
								<div class="card-lawyer__text">
									<h6 class="card-lawyer__title title-xs">
										Литовченко Олексій Сергійович
									</h6>
									<p>
										Практикуючий адвокат АО «Profi lawyer»
									</p>
								</div>
							</div>
						</div>
						<div class="team__col">
							<div class="card-lawyer">
								<div class="card-lawyer__header">
									<img src="img/photo7.jpg" alt="photo7">
								</div>
								<div class="card-lawyer__text">
									<h6 class="card-lawyer__title title-xs">
										Грищенко Олександр Миколайович  
									</h6>
									<p>
										Практикуючий адвокат АО «Profi lawyer»
									</p>
								</div>
							</div>
							<div class="card-lawyer">
								<div class="card-lawyer__header">
									<img src="img/photo8.jpg" alt="photo8">
								</div>
								<div class="card-lawyer__text">
									<h6 class="card-lawyer__title title-xs">
										Самойленко Артем Володимирович
									</h6>
									<p>
										Практикуючий адвокат АО «Profi lawyer»
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>