<div class="container">
	<section class="callback">
		<div class="callback__bg" style="background-image: url(img/image.png);">
			<div class="callback__wrap inner">
				<div class="callback__title title-lg js-hide">
					Want to know more about our services?<br>
					Interested in started a project?
				</div>
				<div class="callback__button">
					<button class="btn1 js-btn1 js-hide" type="button">
						Let`s talk
					</button>
				</div>
			</div>
			<!-- Start footer -->
			{% include "partials/_footer.html" %}
			<!-- End footer -->
			<!-- Start post-form -->
			{% include "partials/_post-form.html" %}
			<!-- Start post-form -->
		</div>
	</section>
</div>
