<footer class="footer">
	<ul class="footer-list  inner js-hide">
		<li class="footer-list__item"><a href="#" class="footer-list__link">COPYRIGHT © <span> WULF ARTS inc.</span></a></li>
		<li class="footer-list__item order">
			<ul class="social-list">
				<li class="social-list__item">
					<a href="#" class="social-list__link">{{ mixins.icon('pico') }}</a>
				</li>
				<li class="social-list__item">
					<a href="#" class="social-list__link">{{ mixins.icon('glos') }}</a>
				</li>
				<li class="social-list__item">
					<a href="#" class="social-list__link">{{ mixins.icon('insta_icon') }}</a>
				</li>
				<li class="social-list__item">
					<a href="#" class="social-list__link">{{ mixins.icon('be_icon') }}</a>
				</li>
				<li class="social-list__item">
					<a href="#" class="social-list__link">{{ mixins.icon('facebook_icon') }}</a>
				</li>
			</ul>
		</li>
		<li class="footer-list__item"><a href="#" class="footer-list__link footer-list__link_mod">Info@wulfinc.com</a></li>
	</ul>
	<div class="nav-page js-hide">
		<div class="nav-page__inner inner">
			<ul class="footer-list footer-list_mod">
				<li class="footer-list__item"><a href="#" class="footer-list__link footer-list__link_mod">Made by NEXTPAGE<span class="page-icon"></span></a></li>
			</ul>
		</div>
	</div>
</footer>