<div class="container">
	<section class="hero inner">
		<div class="box">
			<span class="box__text up">our </span>
			<br>
			<span class="box__text bottom"> process</span>
		</div>
		<div class="wrapper">
			<nav class="menu">
				<ul class="list shadow position-sm">
					<li class="list__item list__item_mod">
						<button class="list__tab list__tab_mod pos-arrow">
							{{ mixins.icon('arrow') }}
						</button>
					</li>
					<li class="list__item">
						<span class="list__tab">01</span>
						<a href="#" class="list__link dis-none">Process Name</a>
					</li>
					<li class="list__item is-active">
						<span class="list__tab">02</span>
						<a href="#" class="list__link dis-none">Process Name</a>
					</li>
					<li class="list__item">
						<span class="list__tab">03</span>
						<a href="#" class="list__link dis-none">Process Name</a>
					</li>
					<li class="list__item">
						<span class="list__tab">04</span>
						<a href="#" class="list__link dis-none">Process Name</a>
					</li>
					<li class="list__item">
						<span class="list__tab">05</span>
						<a href="#" class="list__link dis-none">Process Name</a>
					</li>
					<li class="list__item list__item_mod">
						<button class="list__tab list__tab_mod arrow_rotate">
							{{ mixins.icon('arrow') }}
						</button>
					</li>
				</ul>
			</nav>
			<div class="wrap">
				<ul class="list list_mod">
					<li class="list__item list__item_mod">
						<span class="list__link">Previous process</span>
						<button class="list__tab list__tab_mod">
							{{ mixins.icon('arrow') }}
						</button>
					</li>
				</ul>
				<div class="content">
					<div class="content__row">
						<div class="content__col-left">
							<div class="content__image" style="background-image: url(img/image.jpg);"></div>
							<p>
								Birds (Aves) are a group of endothermic vertebrates, characterised by feathers, toothless beaked jaws, laying of hard-shelled eggs, a high metabolic rate, a four-chambered heart. of hard-shelled eggs, a high metabolic rate, a four-chambered heart.
							</p>
						</div>
						<div class="content__col-right">
							<h2 class="content__title title-md">Active Process</h2>
							<p>
								Red and rounded
							</p>	
						</div>
					</div>
				</div>
				<ul class="list list_mod">
					<li class="list__item list__item_mod">
						<span class="list__link">Next process</span>
						<button class="list__tab list__tab_mod bottom">
							{{ mixins.icon('arrow') }}
						</button>
					</li>
				</ul>
			</div>
			<nav class="social">
				<ul class="list shadow">
					<li class="list__item list__item_mod">
						<button class="list__tab list__tab_size">
							{{ mixins.icon('arrow') }}
						</button>
					</li>
					<li class="list__item is-active">
						<span class="list__tab list__tab_size">{{ mixins.icon('mail_icon') }}</span>
					</li>
					<li class="list__item">
						<span class="list__tab list__tab_size">{{ mixins.icon('be_icon') }}</span>
					</li>
					<li class="list__item">
						<span class="list__tab list__tab_size">{{ mixins.icon('insta_icon') }}</span>
					</li>
					<li class="list__item">
						<span class="list__tab list__tab_size">{{ mixins.icon('facebook_icon') }}</span>
					</li>
				</ul>
			</nav>
		</div>
	</section>
</div>