<div class="wrapper">
    <section class="cooperation">
        <div class="cooperation__inner inner-s">
            <div class="cooperation__wrap">
                <h2 class="cooperation__title title-md border">
                    Варианты сотрудничества и условия
                </h2>
                <div class="cooperation__tabs">
                    <div class="container js-toggle-tabs">
                        <div class='tabs'>
                            <button class="tab active" type="button">
                                Своё авто
                            </button>
                            <button class="tab" type="button">
                                Арендный авто
                            </button>
                        </div>
                        <div class="panels">
                            <div class="panel">
                                <div class="panel__row">
                                    <div class="panel__col panel__col--left">
                                        <div class="panel__img">
                                            <img src="./img/bitmap@3x.png" alt="Pyictures-car">
                                        </div>
                                    </div>
                                    <div class="panel__col panel__col--right">
                                        <h4 class="panel__title title-s">
                                            Преимущества работы на своём авто
                                        </h4>
                                        <ul class="panel__list">
                                            <li class="panel__item">
                                                100% заработок с поездки.
                                            </li>
                                            <li class="panel__item">
                                                15% Вы платите за каждый заказ
                                            </li>
                                            <li class="panel__item">
                                                Амортизацию + топливо оплачивает водитель
                                            </li>
                                        </ul>
                                        <div class="block-btn">
                                            <a href="#" class="btn btn--lg">
                                                Начать работу сейчас
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel__row">
                                    <div class="panel__col panel__col--left">
                                        <div class="panel__img">
                                            <img src="./img/bitmap@3x.png" alt="Pyictures-car">
                                        </div>
                                    </div>
                                    <div class="panel__col panel__col--right">
                                        <h4 class="panel__title title-s">
                                            Преимущества работы на арендованом авто
                                        </h4>
                                        <ul class="panel__list">
                                            <li class="panel__item">
                                                100% заработок с поездки.
                                            </li>
                                            <li class="panel__item">
                                                15% Вы платите за каждый заказ
                                            </li>
                                            <li class="panel__item">
                                                Амортизацию + топливо оплачивает водитель
                                            </li>
                                            <li class="panel__item">
                                                100% заработок с поездки.
                                            </li>
                                            <li class="panel__item">
                                                15% Вы платите за каждый заказ
                                            </li>
                                        </ul>
                                        <div class="block-btn">
                                            <a href="#" class="btn btn--lg">
                                                Начать работу сейчас
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>