<div class="wrapper">
    <section class="download-app">
        <div class="download-app__inner inner-s">
            <div class="download-app__wrap">
                <div class="download-app__col download-app__col--left">
                    <h2 class="download-app__title title-md">
                        Скачай IQ-Taxi и начни зарабатывать!
                    </h2>
                    <div class="download-app__descript">
                        <p>
                            Приложение подойдет для любой версии OS. 
                            Просто устанавливаете приложение, регистрируетесь и начинайте работу.
                        </p>
                    </div>
                    <div class="btn-market btn-market--hide">
                        <a href="#" class="btn-market__box btn">
                            <div class="btn-market__col">
                                {{ mixins.icon('apple') }}
                            </div>
                            <div class="btn-market__col">
                                <span class="btn-market__text btn-market__text--up">
                                    Download on the
                                </span>
                                <span class="btn-market__text btn-market__text--down">
                                    App Store
                                </span>
                            </div>
                        </a>
                        <a href="#" class="btn-market__box btn">
                            <div class="btn-market__col">
                                {{ mixins.icon('google-play') }}
                            </div>
                            <div class="btn-market__col">
                                <span class="btn-market__text btn-market__text--up">
                                    Download on the
                                </span>
                                <span class="btn-market__text btn-market__text--down google">
                                    Google play
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="download-app__col download-app__col--right">
                    <div class="download-app__img">
                        <img src="./img/phone@3x.png" alt="Pyictures-phone">
                    </div>
                </div>
            </div>
            <div class="download-app__mob btn-market--show">
                <div class="btn-market">
                    <a href="#" class="btn-market__box btn">
                        <div class="btn-market__col">
                            {{ mixins.icon('apple') }}
                        </div>
                        <div class="btn-market__col">
                            <span class="btn-market__text btn-market__text--up">
                                Download on the
                            </span>
                            <span class="btn-market__text btn-market__text--down">
                                App Store
                            </span>
                        </div>
                    </a>
                    <a href="#" class="btn-market__box btn">
                        <div class="btn-market__col">
                            {{ mixins.icon('google-play') }}
                        </div>
                        <div class="btn-market__col">
                            <span class="btn-market__text btn-market__text--up">
                                Download on the
                            </span>
                            <span class="btn-market__text btn-market__text--down google">
                                Google play
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>