<div class="select-box">
    <label for="config" class="select-box__label">
        Сортировать по:
    </label>
    <select id="config" class="select__toggle js-selectConfig" style="width: 100%;" name="config">
        <option value="">дате</option>
        <option value="AL">дате</option>
        <option value="WY">дате</option>
        <option value="AL">дате</option>
        <option value="WY">дате</option>
        <option value="AL">дате</option>
        <option value="WY">дате</option>
        <option value="AL">дате</option>
        <option value="WY">дате</option>
    </select>
</div>
