<div class="wrapper js-start-animation">
	<div class="certificate">
		<div class="certificate__inner inner">
			<div class="certificate__wrap">
				<div class="certificate__image">
					<img src="img/lion2.png" alt="lion">
				</div>
				<div class="certificate__contain">
					<div class="certificate__row">
						<div class="certificate__col-left">
							<div class="box box_mod js-box">
								<p>
									Член Саморегулируемой
									организации Асоциации
									строительных компаний
									"Межрегиональный
									строительный комплекс"
								</p>
								<span class="box__line box__line_right">
									<span class="box__right-side js-line-box"></span>
								</span>
								<span class="box__line box__line_bottom">
									<span class="box__bottom-side js-line-box"></span>
								</span>	
								<span class="box__line box__line_left">
									<span class="box__left-side js-line-box"></span>
								</span>
								<span class="box__line box__line_top">
									<span class="box__top-side js-line-box"></span>
								</span>
							</div>
						</div>
					</div>
					<div class="certificate__row certificate__row-mod">	
						<div class="certificate__col-right">
							<div class="box box_mod js-box">
								<p>
									Сертифицировано в
									соответствии Системы
									Менеджмента Качестваа требованиям ISO 9001:2008
								</p>
								<span class="box__line box__line_right">
									<span class="box__right-side js-line-box"></span>
								</span>
								<span class="box__line box__line_bottom">
									<span class="box__bottom-side js-line-box"></span>
								</span>	
								<span class="box__line box__line_left">
									<span class="box__left-side js-line-box"></span>
								</span>
								<span class="box__line box__line_top">
									<span class="box__top-side js-line-box"></span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>