<div class="wrapper js-start-animation">
	<div class="company">
		<div class="company__inner inner">
			<div class="company__wrap">
				<div class="company__row">
					<div class="company__col">
						<h2 class="company__title title-md">Основные принцыпы компании</h2>
					</div>
					<div class="company__col company__col_flex">
						<div class="company__image" style="background-image: url(img/manhattan-3_1920.jpg)"></div>
						<div class="company__contain">
							<div class="company__row">
								<div class="company__col">
									<div class="company__box box js-box">
										<p>Профессионализм</p>
										<span class="box__line box__line_right">
											<span class="box__right-side js-line-box"></span>
										</span>
										<span class="box__line box__line_bottom">
											<span class="box__bottom-side js-line-box"></span>
										</span>	
										<span class="box__line box__line_left">
											<span class="box__left-side js-line-box"></span>
										</span>
										<span class="box__line box__line_top">
											<span class="box__top-side js-line-box"></span>
										</span>
									</div>
									<div class="box js-box">
										<p>Комплексный подход</p>
										<span class="box__line box__line_right">
											<span class="box__right-side js-line-box"></span>
										</span>
										<span class="box__line box__line_bottom">
											<span class="box__bottom-side js-line-box"></span>
										</span>	
										<span class="box__line box__line_left">
											<span class="box__left-side js-line-box"></span>
										</span>
										<span class="box__line box__line_top">
											<span class="box__top-side js-line-box"></span>
										</span>
									</div>
								</div>
								<div class="company__col">
									<div class="box js-box">
										<p>Высокое качество услуг</p>
										<span class="box__line box__line_right">
											<span class="box__right-side js-line-box"></span>
										</span>
										<span class="box__line box__line_bottom">
											<span class="box__bottom-side js-line-box"></span>
										</span>	
										<span class="box__line box__line_left">
											<span class="box__left-side js-line-box"></span>
										</span>
										<span class="box__line box__line_top">
											<span class="box__top-side js-line-box"></span>
										</span>
									</div>
									<div class="box js-box">
										<p>Ориентация на заказчика</p>
										<span class="box__line box__line_right">
											<span class="box__right-side js-line-box"></span>
										</span>
										<span class="box__line box__line_bottom">
											<span class="box__bottom-side js-line-box"></span>
										</span>	
										<span class="box__line box__line_left">
											<span class="box__left-side js-line-box"></span>
										</span>
										<span class="box__line box__line_top">
											<span class="box__top-side js-line-box"></span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="company__row company__row_margin">
					<div class="company__col col-flex">
						<div class="company__block block">
							<p>
								Регулярная переподготовка своих кадров по программам
								повышения квалификации.	
							</p>
						</div>
						<div class="block">
							<p>
								Помощь и поддержка детского и юношеского спорта, учреждений здравоохранения
							</p>
						</div>
					</div>
					<div class="company__col">
						<div class="company__button button js-button">
							<a href="#" class="button__btn btn">
								О компании
							</a>
							<span class="animate-bg js-line-box"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>