<div class="wrapper">
	<footer class="footer">
		<div class="footer__inner inner">
			<nav class="nav">
				<ul class="nav-list nav-list_mod">
					<li class="nav-list__item">
						<a href="#" class="nav-list__link">
							Главная
							<span class="hover-block"></span>
						</a>
					</li>
					<li class="nav-list__item">
						<a href="#" class="nav-list__link">
							О компании
							<span class="hover-block"></span>
						</a>
					</li>
					<li class="nav-list__item">
						<a href="#" class="nav-list__link">
							Услуги
							<span class="hover-block"></span>
						</a>
					</li>
					<li class="nav-list__item">
						<a href="#" class="nav-list__link">
							Галерея
							<span class="hover-block"></span>
						</a>
					</li>
					<li class="nav-list__item">
						<a href="#" class="nav-list__link">
							Контакты
							<span class="hover-block"></span>
						</a>
					</li>
				</ul>
			</nav>
			<div class="footer__contact">
				<ul class="contact-list ">
					<li class="contact-list__item">
						г.Киев, вул.Драгоманова, 100
					</li>
					<li class="contact-list__item">
						+3 801 234 56 78
					</li>
					<li class="contact-list__item">
						info@usa.group
					</li>
				</ul>
			</div>
			<div class="footer__autor">
				<span>2018 USA Group</span>
				<ul class="footer__social social">
					<li class="social__item">
						<a href="#" class="social__link">{{mixins.icon('facebook-logo')}}</a>
					</li>
					<li class="social__item">
						<a href="#" class="social__link">{{mixins.icon('vk-logo')}}</a>
					</li>
					<li class="social__item">
						<a href="#" class="social__link">{{mixins.icon('twitter-logo')}}</a>
					</li>
					<li class="social__item">
						<a href="#" class="social__link">{{mixins.icon('google-plus-logo')}}</a>
					</li>
					<li class="social__item">
						<a href="#" class="social__link">{{mixins.icon('odnoklassniki-logo')}}</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
</div>