<div class="wrapper js-start-animation">
	<div class="gallery">
		<div class="gallery__inner inner">
			<div class="gallery__wrap">
				<div class="gallery__row">
					<div class="gallery__col">
						<div class="gallery__box-color js-box">
							<span class="animate-bg-yellow js-line-box"></span>
							<h2 class="gallery__title title-md">
								Галерея
							</h2>
						</div>
					</div>
					<div class="gallery__col gallery__col_flex">
					</div>
				</div>
				<div class="gallery__slider">
					<div class="slider js-slider">
						<div class="slider__image" style="background-image: url(img/new-york-1920.jpg)">
						</div>
						<div class="slider__image" style="background-image: url(img/singapore-river-1920.jpg)">
						</div>
						<div class="slider__image" style="background-image: url(img/taxi-cab-1920.jpg)">
						</div>
					</div>
				</div>
				<div class="gallery__row gallery__row_position ">
					<div class="gallery__col">
						<div class="gallery__logo logo">
							<span>{{ mixins.icon('logo') }}</span>
						</div>
					</div>
					<div class="gallery__col">
						<span class="gallery__button button js-button">
							<a href="#" class="button__btn btn">
								Все работы
							</a>
							<span class="animate-bg js-line-box"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>