<div class="wrapper js-start-animation">
	<div class="services">
		<div class="services__inner inner">
			<div class="services__wrap">
				<div class="services__row">
					<div class="services__col">
						<div class="services__box-color js-box">
							<span class="animate-bg-black js-line-box"></span>
							<h2 class="services__title title-md">
								Комплекс услуг
							</h2>
						</div>
					</div>
					<div class="services__col services__col_flex">
						<div class="services__image" style="background-image: url(img/manhattan-3_1920.jpg)">
						</div>
					</div>
				</div>
				<div class="services__row">
					<div class="services__col col-flex">
						<div class="block block_mod">
							<p>
								Возведение современных
								винтилируемых фасадов и фасадов
								"мокрого" типа	
							</p>
						</div>
						<div class="block block_mod">
							<p>
								Производство и монтаж
								алюминиевых витражей,
								ПВХ и алюминиевых окон,
								зенитных фонврей
							</p>
						</div>
					</div>
					<div class="services__col">
						<span class="services__button button js-button">
							<a href="#" class="button__btn btn">
								Услуги
							</a>
							<span class="animate-bg js-line-box"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>