<div class="wrapper js-start-animation">
	<div class="works">
		<div class="works__inner inner">
			<div class="works__row works__col_height">
				<div class="works__image works__image--center" style="background-image: url(img/architecture-1920.jpg)"></div>
			</div>
			<div class="works__row">
				<div class="works__image works__image--left" style="background-image: url(img/architecture-2_1920.jpg)"></div>
				<div class="works__image works__image--right" style="background-image: url(img/skyscraper-18_1920.jpg)"></div>
			</div>
			<div class="works__progress-bar progress-bar progress-bar--left js-box">
				<span class="progress-bar__number js-score" data-interval="0,6" data-counter="400">0</span><span class="progress-bar__plus">+</span>
				<p>квалифицированных профессионалов в штате</p>

				<span class="box__line box__line_right">
					<span class="box__right-side js-line-box"></span>
				</span>
				<span class="box__line box__line_bottom">
					<span class="box__bottom-side js-line-box"></span>
				</span>	
				<span class="box__line box__line_left">
					<span class="box__left-side js-line-box"></span>
				</span>
				<span class="box__line box__line_top">
					<span class="box__top-side js-line-box"></span>
				</span>
			</div>
			<div class="progress-bar progress-bar--center js-box">
				<span class="animate-bg-left js-line-box"></span>
				<span class="progress-bar__number js-score" data-interval="0,8" data-counter="7">0</span><span class="progress-bar__plus">+</span>
				<p>лет среди лидеров на строительном рынке</p>
				<span class="box__line box__line_right">
					<span class="box__right-side js-line-box"></span>
				</span>
				<span class="box__line box__line_bottom">
					<span class="box__bottom-side js-line-box"></span>
				</span>	
				<span class="box__line box__line_left">
					<span class="box__left-side js-line-box"></span>
				</span>
				<span class="box__line box__line_top">
					<span class="box__top-side js-line-box"></span>
				</span>
			</div>
			<div class="progress-bar progress-bar--right js-box">
				<span class="progress-bar__number js-score" data-interval="1" data-counter="50">0</span><span class="progress-bar__plus">+</span>
				<p>завершонных обьектов</p>
				<span class="box__line box__line_right">
					<span class="box__right-side js-line-box"></span>
				</span>
				<span class="box__line box__line_bottom">
					<span class="box__bottom-side js-line-box"></span>
				</span>	
				<span class="box__line box__line_left">
					<span class="box__left-side js-line-box"></span>
				</span>
				<span class="box__line box__line_top">
					<span class="box__top-side js-line-box"></span>
				</span>
			</div>
		</div>
	</div>
</div>